{% extends "base.html" %}

{% block content %}

<div class="container">
	<section class="row">
		<h2 style="text-align: center;">Портфолио пользователя: <a href="" data-toggle="tooltip" data-placement="bottom" {% if profile.image %} title="<img src='{{ profile.image.url }}' width='100px' height='100px'>"{% endif %}>{{ user.first_name }}&nbsp;{{ user.last_name }}</a></h2>
	</section>
	<section class="row">
		{% if portfolio_list %}
			{% for project in portfolio_list %}
				<div class="col-md-4 col-sm-6">
					<div class="portfolio-card-single">
						<div class="container-img">
							{% if project.image %}
								<img src="{{ project.image.url }}" alt="Изображение проекта: {{ project.name | upper }}">
							{% endif %}
						</div>
						<div class="card-header">
							<h4 class="project-name">{{ project.name | upper }}</h4>
						</div>
						<a href="{% url 'portfolioShow' project.profile.user.get_username project.id %}" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i> Подробнее</a>
					</div>
				</div>
				{% if forloop.counter|divisibleby:2 %}<div class="visible-sm clearfix"></div>{% endif %}
				{% if forloop.counter|divisibleby:3 %}<div class="visible-md visible-lg clearfix"></div>{% endif %}
			{% endfor %}
			<div class="clearfix"></div>
		{% else %}
			<div class="col-sm-12">Проекты не найдены</div>
		{% endif %}
	</section>
	<section class="row">
		{% include "inc/pagination.html" with list=portfolio_list %}
	</section>
</div>

{% endblock content %}