{% load auth_extras %}

<div class="row portfolio-form-name">
	<div class="col-md-8">
		<h3>{{ name }}</h3>
	</div>
	<div class="col-md-4" style="text-align: right;">
		{% if portfolioForm.instance.pk %}
			<a href="{% url 'portfolioShow' user.get_username portfolioForm.instance.pk %}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Публичная страница работы"><i class="fa fa-eye" aria-hidden="true"></i> Страница работы</a>
		{% endif %}
	</div>

</div>

{% if messages %}
	{% for message in messages %}
		<div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>{{ message }}</strong>
		</div>
	{% endfor %}
{% endif %}

<hr>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="input-group form-group">
		<span class="input-group-addon">{{ portfolioForm.name.label_tag }}</span>
		<input type="text" name="{{ portfolioForm.name.html_name }}" class="form-control" maxlength="{{ portfolioForm.name.field.max_length }}" id="{{ portfolioForm.name.id_for_label }}" placeholder="{{ portfolioForm.name.label }}" value="{{ portfolioForm.name.value|default_if_none:'' }}" required>
	</div>
	<article class="article summary">
		<div class="form-group form-img">
			<div class="group-addon">
				<label for="{{ portfolioForm.image.id_for_label }}">
					{{ portfolioForm.image.label }}
				</label>
			</div>
			{% if portfolioForm.instance.image %}
				<img src="{{ portfolioForm.instance.image.url }}" alt="Изображение проекта" style="width: 70%">
			{% endif %}
			<input accept="image/jpeg,image/png,image/jpg" type="file" name="{{ portfolioForm.image.html_name }}" class="form-control" id="{{ portfolioForm.image.id_for_label }}" {% if not portfolioForm.image.value %} required {% endif %}>
		</div>
	</article>
	<article class="article summary">
		<div class="form-group">
			<div class="group-addon">
				<label for="{{ portfolioForm.description.id_for_label }}">
					{{ portfolioForm.description.label }}
				</label>
			</div>
			<textarea name="{{ portfolioForm.description.html_name }}" class="form-control" id="{{ portfolioForm.description.id_for_label }}" placeholder="{{ portfolioForm.description.label }}" required>{{ portfolioForm.description.value|default_if_none:'' }}</textarea>
		</div>
	</article>
	<fieldset>
		<legend>Изображения проекта</legend>
		{{ portfolioImagesFormSet.management_form }}
		{{ portfolioImagesFormSet.non_form_errors }}
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 4%;">Новое изображение проекта</th>
						<th style="width: 2%;">Изображение</th>
						<th style="width: 1%;">Удалить?</th>
					</tr>
				</thead>
				<tbody>
					{% for form in portfolioImagesFormSet %}
						<tr class="inline-form {{ portfolioImagesFormSet.prefix }}">
							<td>{{ form.id }}<input type="file" name="{{ form.image.html_name }}" class="form-control" id="{{ form.image.id_for_label }}" accept="image/jpeg,image/png,image/jpg"></td>
							{% if form.instance.pk %}
								<td><img src="{{ form.instance.image.url }}" style="width: 100px;" alt="Изображение проекта"></td>
								<td>{{ form.DELETE }}</td>
							{% else %}
								<td></td>
								<td></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>
	<fieldset>
		<legend>Файлы проекта</legend>
		{{ portfolioFilesFormSet.management_form }}
		{{ portfolioFilesFormSet.non_form_errors }}
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 4%;">{{ portfolioFilesFormSet.0.name.label }}</th>
						<th style="width: 4%;">Новый файл проекта</th>
						<th style="width: 1%;">Файл</th>
						<th style="width: 1%;">Удалить?</th>
					</tr>
				</thead>
				<tbody>
					{% for form in portfolioFilesFormSet %}
						<tr class="inline-form {{ portfolioFilesFormSet.prefix }}">
							<td>
								{{ form.id }}
								<input type="text" name="{{ form.name.html_name }}" class="form-control" maxlength="{{ form.name.field.max_length }}" id="{{ form.name.id_for_label }}" placeholder="{{ form.name.label }}" value="{{ form.name.value|default_if_none:'' }}">
							</td>
							<td>
								<input type="file" name="{{ form.file.html_name }}" class="form-control" id="{{ form.file.id_for_label }}" accept="application/pdf, application/zip, .xlsx, .xls, .doc, .docx">
							</td>
							{% if form.instance.pk %}
								<td class="file-link">
									{% if form.instance.file.url|is_file_type:'.pdf' %}
										<a href="{{ form.instance.file.url }}" style="color: red;" data-toggle="tooltip" data-placement="top" title="Скачать">
											<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
										</a>
									{% elif form.instance.file.url|is_file_type:'.doc' or form.instance.file.url|is_file_type:'.docx' %}
										<a href="{{ form.instance.file.url }}" data-toggle="tooltip" data-placement="top" title="Скачать">
											<i class="fa fa-file-word-o" aria-hidden="true"></i>
										</a>
									{% elif form.instance.file.url|is_file_type:'.xlsx' or form.instance.file.url|is_file_type:'.xls' %}
										<a href="{{ form.instance.file.url }}" style="color: green;" data-toggle="tooltip" data-placement="top" title="Скачать">
											<i class="fa fa-file-excel-o" aria-hidden="true"></i>
										</a>
									{% elif form.instance.file.url|is_file_type:'.zip' %}
										<a href="{{ form.instance.file.url }}" style="color: #FF9408;" data-toggle="tooltip" data-placement="top" title="Скачать">
											<i class="fa fa-file-archive-o" aria-hidden="true"></i>
										</a>
									{% endif %}
								</td>
								<td>{{ form.DELETE }}</td>
							{% else %}
								<td></td>
								<td></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>
	<article class="article">
		<div class="form-group tac">
			<button type="submit" class="btn btn-primary">Сохранить</button>
		</div>
	</article>
</form>