<div class="row portfolio-form-name">
	<div class="col-md-8">
		<h3>Портфолио</h3>
	</div>
	<div class="col-md-4" style="text-align: right;">
		<a href="{% url 'portfolioListShow' user.get_username %}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Публичная страница портфолио"><i class="fa fa-eye" aria-hidden="true"></i> Страница портфолио</a>
	</div>
</div>

{% if messages %}
	{% for message in messages %}
		<div class="alert-slide-up alert {% if message.tags %}alert-{{message.tags}}{% endif %}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ message }}
		</div>
	{% endfor %}
{% endif %}

<hr>
<article class="row">
	<div class="col-md-6">
		<a href="{% url 'portfolioAdd' %}" class="btn btn-primary btn-add"><i class="fa fa-plus-square" aria-hidden="true"></i> Добавить</a>
	</div>
	{% if portfolio_list %}
		<div class="col-md-6 portfolio-count">
			<span class="label label-default">Количество проектов в портфолио:</span> <span class="badge">{{ portfolio_list.paginator.count }}</span>
		</div>
	{% endif %}
</article>
<article class="row">
	{% if portfolio_list %}
		{% for project in portfolio_list %}
			<div class="col-md-12">
				<div class="portfolio-card">
					<div class="row">
						<div class="col-md-8">
							<h4 class="project-name">{{ project.name | upper }}</h4>
						</div>
						<div class="col-md-4 btn-copy-container">
							<button class="btn btn-default btn-copy" data-toggle="tooltip" data-placement="top" title="Постоянная ссылка на ваше публичное портфолио" data-clipboard-text="{{url_public_portfolio}}"><i class="fa fa-clipboard" aria-hidden="true"></i> Копировать в буфер</button>
						</div>
					</div>
					<div class="container-img">
						{% if project.image %}
							<img src="{{ project.image.url }}" alt="Изображение проекта: {{ project.name | upper }}">
						{% endif %}
					</div>
					<p class="project-description">
						{{ project.description }}
					</p>
					<hr class="heavy">
					<a href="{% url 'portfolioEdit' project.id %}" class="btn btn-primary btn-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Изменить</a>
					<a href="{% url 'portfolioDel' project.id %}" class="btn btn-danger btn-del"><i class="fa fa-times" aria-hidden="true"></i> Удалить</a>
					<a href="{% url 'portfolioShow' user.get_username project.id %}" class="btn btn-success btn-show" data-toggle="tooltip" data-placement="top" title="Публичная страница работы"><i class="fa fa-eye" aria-hidden="true"></i> Страница работы</a>
				</div>
			</div>
		{% endfor %}
		<div class="clearfix"></div>
	{% else %}
		<div class="col-sm-12 portfolio-not-found">Проекты не найдены</div>
	{% endif %}
</article>
<article class="row">

	{% include "inc/pagination.html" with list=portfolio_list %}

</article>