{% extends "base.html" %}
{% load auth_extras %}


{% block content %}

<div class="container">
	<section class="row">
		<article class="col-xs-12 col-md-offset-2 col-md-8">
			<div class="single-project">
				<div class="header">
					<div class="name">
						<h2 >{{ portfolio.name }}</h2>
					</div>
					<a class="href-front-image" data-fancybox="gallery" href="{{ portfolio.image.url }}">
						<img class="front-image" src="{{ portfolio.image.url }}" alt="Изображение проекта">
						<span class="plus"><i class="fa fa-search-plus" aria-hidden="true"></i></span>
					</a>
					{% if images %}
						<div class="images">
							{% for image in images %}
								<a data-fancybox="gallery" class="href-image" href="{{ image.image.url }}" style="background-image: url({{ image.image.url }}); ">
									<span class="plus"><i class="fa fa-search-plus" aria-hidden="true"></i></span>
								</a>
							{% endfor %}
						</div>
					{% endif %}
				</div>
				<div class="main" {% if not files %} style="border:0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;" {% endif %}>
					<div class="description">
						{{ portfolio.description }}
					</div>
				</div>
				{% if files %}
					<div class="files">
						{% for file in files %}
							{% if file.file.url|is_file_type:'.pdf' %}
								<a href="{{ file.file.url }}" style="color: red;" data-toggle="tooltip" data-placement="top" title="Скачать: {{ file.name }}">
									<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
								</a>
							{% elif file.file.url|is_file_type:'.doc' or file.file.url|is_file_type:'.docx' %}
								<a href="{{ file.file.url }}" data-toggle="tooltip" data-placement="top" title="Скачать: {{ file.name }}">
									<i class="fa fa-file-word-o" aria-hidden="true"></i>
								</a>
							{% elif file.file.url|is_file_type:'.xlsx' or file.file.url|is_file_type:'.xls' %}
								<a href="{{ file.file.url }}" style="color: green;" data-toggle="tooltip" data-placement="top" title="Скачать: {{ file.name }}">
									<i class="fa fa-file-excel-o" aria-hidden="true"></i>
								</a>
							{% elif file.file.url|is_file_type:'.zip' %}
								<a href="{{ file.file.url }}" style="color: #FF9408;" data-toggle="tooltip" data-placement="top" title="Скачать: {{ file.name }}">
									<i class="fa fa-file-archive-o" aria-hidden="true"></i>
								</a>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</article>
	</section>
</div>

{% endblock content %}