/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.contArrow{
	    flex-wrap: wrap;
	}
	.blockHeadArrow:after {
		color: #fff !important;
		transform: scale(-1, 1);
		right: 0;
	}
	.blockHeadArrow{
		text-align: center;
	}
	.blockTextArrow{
		padding: 0;
	}
	.listArrow{
		text-align: center;
	}
	.arrowDown{
        width: 10px;
    	margin: auto;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid #EDEEF0;
	}
	.active .arrowDown{
		border-top: 10px solid #4D81BF;
	}

	#panorama {
	    height: 400px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 991px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


@media (hover: none) {
    .render:hover .textDesign{
		display: none;
	}
}