#panorama {
    width: 100%;
    height: 600px;
}
.render{
	width: 100%;
	height: 150px;
	background-size: 100% 100%;

	display: block;
	cursor: pointer;
	border-radius: 10px;
	position: relative;
}

.margin-bottom{
	margin-bottom: 20px;
}

.tab-pane{
	padding-top: 20px;
}

.activDesign{
	border: green 4px solid;
}

span.circle{
	display: none;
}

.activDesign .circle{
	display: inline-block;
	color: white;
	background-color: green;
	padding: 5px;
	border-radius: 0 0 10px 0;
	position: absolute;
	z-index: 2;
}

.textDesign{
	text-align: center;
	text-decoration: none;
    color: white;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
    border-radius: 10px;
    align-items: center;
	justify-content: center;
}

.render:hover{
	text-decoration: none;
}


.render:hover .textDesign{
	display: flex;
}

.activDesign .textDesign{
	border-radius: 7px;
	display: flex !important;
}


.blockHeadArrow:after {
	color: #EDEEF0;
	border-left: 20px solid;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	display: inline-block;
	content: '';
	position: absolute;
	right: -20px;
	top: 0;
	z-index: 2;
}

.listArrow{
	display: inline-block !important;
	width: 100%;
	margin-right: 10px;
}
.blockHeadArrow:before {
	color: #fff;
	border-left: 20px solid;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	display: inline-block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
}
.blockHeadArrow {
	background-color: #EDEEF0;
	width: 100%;
	height: 30px;
	line-height: 31px;
	display: inline-block !important;
	padding: 0 !important;
	cursor: pointer;
}
.blockTextArrow {
	color: #286090;
	font-weight: bold;
	padding-left: 40px;
	font-size: 14px;
}
.contArrow.nav-tabs{
	border: none;
}

.contArrow.nav-tabs>li.active>a, 
.contArrow.nav-tabs>li.active>a:focus, 
.contArrow.nav-tabs>li.active>a:hover{
	background-color: #4D81BF;

}
.contArrow.nav-tabs>li>a{
	border: none !important;
	cursor: pointer;
    line-height: 31px;
    border-radius: 0;
    margin: 0;
}
.contArrow.nav-tabs>li.active>a .blockTextArrow, 
.contArrow.nav-tabs>li.active>a:focus .blockTextArrow, 
.contArrow.nav-tabs>li.active>a:hover .blockTextArrow{
	color: white;
}
.contArrow.nav-tabs>li.active>a:after{
	color: #4D81BF;
}
.contArrow{
	display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.steps{
    border-top: 1px solid #ddd;
}