{% extends "base.html" %}
{% load auth_extras %}
{% load split_filter %}
{% load define %}
{% load specializationGroup %}

{% load static %}

{% block links %}

{% endblock links %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Новый проект</h3>
			{% if messages %}
				{% for message in messages %}
					<div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %}">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>{{ message }}</strong>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<form method="POST" enctype="multipart/form-data" class="projectForm">
				{% csrf_token %}
				<div class="input-group form-group">
					<span class="input-group-addon">{{ projectForm.name.label_tag }}</span>
					<input type="text" name="{{ projectForm.name.html_name }}" class="form-control" maxlength="{{ projectForm.name.field.max_length }}" id="{{ projectForm.name.id_for_label }}" placeholder="{{ projectForm.name.label }}" value="{{ projectForm.name.value|default_if_none:'' }}" required>
				</div>
				<div class="input-group form-group {% if projectForm.town.errors %} errors-group {% endif %}">
					<span class="input-group-addon">{{ projectForm.town.label_tag }}</span>
					<select name="{{ projectForm.town.html_name }}" class="form-control" id="{{ projectForm.town.id_for_label }}">
						{% for id, name in projectForm.town.field.choices %}
							<option value="{{ id }}" {% ifequal projectForm.instance.town.id id %} selected {% endifequal %}>{{ name }}</option>
						{% endfor %}
					</select>
				</div>
				{% if projectForm.town.errors %}
					<div class="errors">
						{% for err in projectForm.town.errors %}
							<strong class="text-danger">{{ err }}</strong>
						{% endfor %}
					</div>
				{% endif %}
				<div class="input-group form-group {% if projectForm.specialization.errors %} errors-group {% endif %}">
					<span class="input-group-addon">{{ projectForm.specialization.label_tag }}</span>
					<select name="{{ projectForm.specialization.html_name }}" class="select-2 form-control" id="{{ projectForm.specialization.id_for_label }}">
						{% for id, name in projectForm.specialization.field.choices %}
							{% if id %}
								{% ifchanged id|get_group  %}
									{% if forloop.counter != 2 %}
										</optgroup>
									{% endif %}
										<optgroup label="{{ id|get_group }}">
								{% endifchanged %}
								<option value="{{ id }}" {% ifequal projectForm.instance.specialization.id id %} selected {% endifequal %}>{{ name|string_after:'|' }}</option>
							{% else %}
								<option value {% ifequal projectForm.instance.specialization.id id %} selected {% endifequal %}>{{ name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				{% if projectForm.specialization.errors %}
					<div class="errors">
						{% for err in projectForm.specialization.errors %}
							<strong class="text-danger">{{ err }}</strong>
						{% endfor %}
					</div>
				{% endif %}
				<article class="article summary">
					<div class="form-group">
						<div class="group-addon">
							<label for="{{ projectForm.description.id_for_label }}">
								{{ projectForm.description.label }}
							</label>
						</div>
						<textarea name="{{ projectForm.description.html_name }}" class="form-control" id="{{ projectForm.description.id_for_label }}" placeholder="{{ projectForm.description.label }}" required>{{ projectForm.description.value|default_if_none:'' }}</textarea>
						<small class="help-block">{{ projectForm.description.help_text }}</small>
					</div>
				</article>
				<article class="row">
					<div class="col-md-6 col-xs-12">
						<div class="input-group form-group mb {% if projectForm.money.errors %} errors-group {% endif %}">
							<span class="input-group-addon">{{ projectForm.money.label_tag }}</span>
							<input type="number" step="1000" min="1000" name="{{ projectForm.money.html_name }}" class="form-control" id="{{ projectForm.money.id_for_label }}" placeholder="{{ projectForm.money.label }}" value="{{ projectForm.instance.money|default_if_none:'' }}" required>
						</div>
						{% if projectForm.money.errors %}
							<div class="errors">
								{% for err in projectForm.money.errors %}
									<strong class="text-danger">{{ err }}</strong>
								{% endfor %}
							</div>
						{% endif %}
						<small class="help-block my-help-block">{{ projectForm.money.help_text | safe }}</small>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="input-group form-group {% if projectForm.relevant_to.errors %} errors-group {% endif %}">
							<span class="input-group-addon">{{ projectForm.relevant_to.label_tag }}</span>
							<input type="date" name="{{ projectForm.relevant_to.html_name }}" class="form-control" id="{{ projectForm.relevant_to.id_for_label }}" value="{{ projectForm.instance.relevant_to|default_if_none:'' }}" required>
						</div>
						{% if projectForm.relevant_to.errors %}
							<div class="errors">
								{% for err in projectForm.relevant_to.errors %}
									<strong class="text-danger">{{ err }}</strong>
								{% endfor %}
							</div>
						{% endif %}
					</div>

				</article>
				<article class="row">
					<div class="col-md-6 col-xs-12">
						<div class="input-group form-group mb {% if projectForm.term.errors %} errors-group {% endif %}">
							<span class="input-group-addon">{{ projectForm.term.label_tag }}</span>
							<input type="number" name="{{ projectForm.term.html_name }}" class="form-control" placeholder="{{ projectForm.term.label }}" value="{{ projectForm.instance.term|default_if_none:'' }}" required>
						</div>
						{% if projectForm.term.errors %}
							<div class="errors">
								{% for err in projectForm.term.errors %}
									<strong class="text-danger">{{ err }}</strong>
								{% endfor %}
							</div>
						{% endif %}
						<small class="help-block my-help-block">{{ projectForm.term.help_text }}</small>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="input-group form-group mb {% if projectForm.estimate.errors %} errors-group {% endif %}">
							<span class="input-group-addon">{{ projectForm.estimate.label_tag }}</span>
							<input type="file" name="{{ projectForm.estimate.html_name }}" class="form-control" id="{{ projectForm.estimate.id_for_label }}" value="{{ projectForm.instance.estimate }}" accept="application/pdf, application/zip, .xlsx, .xls, .doc, .docx">
						</div>
						{% if projectForm.estimate.errors %}
							<div class="errors">
								{% for err in projectForm.estimate.errors %}
									<strong class="text-danger">{{ err }}</strong>
								{% endfor %}
							</div>
						{% endif %}
						<small class="help-block my-help-block">{{ projectForm.estimate.help_text | safe }}</small>
					</div>
				</article>
				<fieldset>
					<legend>Файлы проекта</legend>
					{{ projectFilesFormSet.management_form }}
					{{ projectFilesFormSet.non_form_errors }}
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th style="width: 4%;">{{ projectFilesFormSet.0.name.label }}</th>
									<th style="width: 4%;">Новый файл проекта</th>
								</tr>
							</thead>
							<tbody>
								{% for form in projectFilesFormSet %}
									<tr class="inline-form {{ projectFilesFormSet.prefix }}">
										<td>
											{{ form.id }}
											<input type="text" name="{{ form.name.html_name }}" class="form-control" maxlength="{{ form.name.field.max_length }}" id="{{ form.name.id_for_label }}" placeholder="{{ form.name.label }}" value="{{ form.name.value|default_if_none:'' }}">
										</td>
										<td>
											<input type="file" name="{{ form.file.html_name }}" class="form-control" id="{{ form.file.id_for_label }}" accept="application/pdf, application/zip, .xlsx, .xls, .doc, .docx">
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</fieldset>
				<article class="article">
					<div class="form-group tac">
						<button type="submit" class="btn btn-primary">Добавить проект</button>
					</div>
				</article>
			</form>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}