
<form method="POST">
	{% csrf_token %}

	<article class="article">
		<h3>Оцените работу: {{ profile_to.user.last_name }} {{ profile_to.user.first_name }}. Проект "{{ project.name }}"</h3>
		{% if messages %}
			<div class="container-alert">
				{% for message in messages %}
					<div class="alert-message alert {% if message.tags %}alert-{{message.tags}}{% endif %}">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<hr>
		<div class="rating-container">
			<div class="name-rating">
				Оценка:
			</div>
			<div class="rating">
				<label>
					<input type="radio" name="{{ reviewForm.evaluation.html_name }}" value="1">
					<span class="icon">★</span>
				</label>
				<label>
					<input type="radio" name="{{ reviewForm.evaluation.html_name }}" value="2">
					<span class="icon">★</span>
					<span class="icon">★</span>
				</label>
				<label>
					<input type="radio" name="{{ reviewForm.evaluation.html_name }}" value="3">
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
				</label>
				<label>
					<input type="radio" name="{{ reviewForm.evaluation.html_name }}" value="4">
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
				</label>
				<label>
					<input type="radio" name="{{ reviewForm.evaluation.html_name }}" value="5">
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
					<span class="icon">★</span>
				</label>
			</div>
		</div>
	</article>
	<article class="article summary">
		<div class="form-group {% if reviewForm.message.errors %} errors-group {% endif %}">
			<div class="group-addon">
				<label for="{{ reviewForm.message.id_for_label }}">
					{{ reviewForm.message.label }}
				</label>
			</div>
			<textarea name="{{ reviewForm.message.html_name }}" class="form-control" id="{{ reviewForm.message.id_for_label }}" placeholder="{{ reviewForm.message.label }}" required>{{ reviewForm.instance.message|default_if_none:'' }}</textarea>
		</div>
		{% if reviewForm.message.errors %}
			<div class="errors">
				{% for err in reviewForm.message.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</article>
	<article class="article">
		<div class="form-group tac">
			<button type="submit" class="btn btn-primary"><i class="fa fa-comments" aria-hidden="true"></i> Оставить отзыв</button>
		</div>
	</article>
</form>