{% extends "base.html" %}
{% load auth_extras %}
{% load split_filter %}
{% load specializationGroup %}
{% load vardump %}

{% load static %}

{% block links %}

{% endblock links %}

{% block content %}

<div class="container profile">
	<div class="row">
		<aside class="hidden-xs col-sm-4 col-md-3 profile-nav sidebar" style="padding-top: 15px;">
			<form method="GET" style="margin: 10px;">
				<h4>Специализации</h4>
				<select name="{{ specializationFilterForm.skill.html_name }}" class="select-2 form-control" id="{{ specializationFilterForm.skill.id_for_label }}" multiple="multiple">
					{% for item in specializationFilterForm.skill %}
						{% ifchanged item.data.value|get_group  %}
							{% if forloop.counter != 1 %}
								</optgroup>
							{% endif %}
								<optgroup label="{{ item.data.value|get_group }}">
						{% endifchanged %}
						<option value="{{ item.data.value }}" {% if item.data.attrs.selected %} selected{% endif %}>{{ item.data.label|string_after:'|' }}</option>
					{% endfor %}
				</select>

				{% if user.is_authenticated %}
					{% if request.user|has_group:"Заказчик" %}
						<div style="margin-top: 10px; display: flex; align-items: center; padding-left: 5px;">
							<input style="margin: 0; margin-right: 10px;" type="checkbox" name="{{ specializationFilterForm.my_project.html_name }}" id="{{ specializationFilterForm.my_project.id_for_label }}" {% if specializationFilterForm.my_project.value %} checked {%endif%}>
							<label for="{{ specializationFilterForm.my_project.id_for_label }}">{{ specializationFilterForm.my_project.label }}</label>
						</div>
					{% elif request.user|has_group:"Исполнитель" %}
						<div style="margin-top: 10px; display: flex; align-items: center; padding-left: 5px;">
							<input style="margin: 0; margin-right: 10px;" type="checkbox" name="{{ specializationFilterForm.is_only_my.html_name }}" id="{{ specializationFilterForm.is_only_my.id_for_label }}" {% if specializationFilterForm.is_only_my.value %} checked {%endif%}>
							<label for="{{ specializationFilterForm.is_only_my.id_for_label }}">{{ specializationFilterForm.is_only_my.label }}</label>
						</div>
					{%endif%}
				{%endif%}

				<button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 15px"><i class="fa fa-filter" aria-hidden="true"></i> Показать</button>

			</form>
			<form method="GET" style="margin: 10px;">
				<button type="submit" class="btn btn-default" style="width: 100%; ">Сбросить</button>
			</form>
		</aside>
		<section class="col-xs-12 col-sm-8 col-md-9 myProject">
			<div class="col-xs-12">
				<form id="searchform" method="get" accept-charset="utf-8">
					<div class="input-group">
						<input class="form-control searchfield" id="searchbox" name="q" type="text" placeholder="Поиск" value="{{searchForm.q.value|default_if_none:''}}">
						<span class="input-group-btn">
							<button class="btn btn-default searchbutton" type="submit"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
				<hr>
			</div>
			{% for project in projects %}
				<div class="col-xs-12">
					<div class="card">
						<div class="row">
							<div class="col-xs-9">
								<h5><a href="{% url 'project' project.id %}"><strong>{{ project.name }}</strong></a></h5>
								<p>
									<small class="help-block my-help-block di">Специализация: <strong>{{ project.specialization.name }}</strong></small>
									<small class="help-block my-help-block di">Город: <strong>{{ project.town }}</strong></small>
								</p>
								<p>{{ project.description| truncatechars:170 }}</p>
								<p>
									<a class="mr" href="{% url 'profilePublic' project.customer.user.username %}"><i class="fa fa-user" aria-hidden="true"></i> {{project.customer.user.last_name}} {{project.customer.user.first_name}}</a>
									<span class="tooltip-span mr" data-toggle="tooltip" data-placement="top" title="Актуален до {{project.relevant_to}}<br>Открыт {{project.date_time}}"><i class="fa fa-calendar" aria-hidden="true"></i> {{ project.relevant_to|date:'j F' }}</span>
									<span class="tooltip-span" data-toggle="tooltip" data-placement="top" title="Количество ставок">
										<i class="fa fa-gavel" aria-hidden="true"></i> {{project.count_rate}} ставок
									</span>
								</p>
							</div>
							<div class="col-xs-3 tac">
								<span class="money" data-toggle="tooltip" data-placement="top" title="Бюджет проекта">{{project.money|get_price}} <i class="fa fa-rub" aria-hidden="true"></i></span>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<article class="row">
				{% include "inc/pagination.html" with list=projects %}
			</article>
		</section>
	</div>
</div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}