{% load auth_extras %}
{% load split_filter %}

<article class="article myProject">
	<h3>Мои проекты</h3>
	<hr>
	<article class="row">
		{% if request.user|has_group:"Заказчик" %}
			{% if projects %}
				{% for project in projects %}
					<div class="col-xs-12">
						<div class="card">
							{% if  project.status.id == 9 %}
								<div class="alert alert-danger">
									<strong>Проект появится на доске после оплаты комиссии сайта</strong>
									<a href="" class="btn btn-primary">Перейти к оплате</a>
								</div>
							{% endif %}
							<div class="row">
								<div class="col-xs-9">
									<h5><a href="{% url 'project' project.id %}"><strong>{{ project.name }}</strong></a></h5>
									<p>Статус: <strong>{{ project.status }}</strong></p>
									<p>Специализация: <strong>{{ project.specialization.name }}</strong></p>
									<p>
										{% if project.performer %}
											<a class="mr" href="{% url 'profilePublic' project.performer.user.username %}"><i class="fa fa-user" aria-hidden="true"></i> {{project.performer.user.last_name}} {{project.performer.user.first_name}}</a>
										{% endif %}
										<span class="tooltip-span mr" data-toggle="tooltip" data-placement="top" title="Актуален до {{project.relevant_to}}<br>Открыт {{project.date_time}}"><i class="fa fa-calendar" aria-hidden="true"></i> {{ project.relevant_to|date:'j F' }}</span>
										<span class="tooltip-span" data-toggle="tooltip" data-placement="top" title="Количество ставок">
											<i class="fa fa-gavel" aria-hidden="true"></i> {{project.count_rate}} ставок
										</span>
									</p>
									<div>
										{% if project.performer and not project.status.id > 4 %}
											<button class="btn btn-primary btn-project-end" data-toggle="modal" data-target="#EndModal" data-project="{{project.id}}"><i class="fa fa-check" aria-hidden="true"></i> Завершить проект</button>
										{% endif %}
										{% if  project.status.id == 9 %}
											<button class="btn btn-danger btn-project-remove" data-toggle="modal" data-target="#RemoveModal" data-project="{{project.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Удалить</button>
										{% elif project.status.id == 8 %}
											<button class="btn btn-info btn-project-extend" data-toggle="modal" data-target="#ExtendModal" data-project="{{project.id}}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Продлить</button>
										{% elif not project.status.id > 4 %}
											<button class="btn btn-danger btn-project-close" data-toggle="modal" data-target="#CloseModal" data-project="{{project.id}}"><i class="fa fa-times" aria-hidden="true"></i> Закрыть без выполнения</button>
										{% endif %}
									</div>
								</div>
								<div class="col-xs-3 tac">
									<span class="money" data-toggle="tooltip" data-placement="top" title="Бюджет проекта без вычета комиссии">{{project.money}} <i class="fa fa-rub" aria-hidden="true"></i></span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="col-xs-12">
					<div class="alert alert-info">
						<strong>У вас нет проектов</strong>
					</div>
				</div>
			{% endif %}
		{% elif request.user|has_group:"Исполнитель" %}
			{% if projects %}
				{% for project in projects %}
					<div class="col-xs-12">
						<div class="card">
							<div class="row">
								<div class="col-xs-9">
									<h5><a href="{% url 'project' project.id %}"><strong>{{ project.name }}</strong></a></h5>
									<p>Статус: <strong>{{ project.status }}</strong></p>
									<p>Специализация: <strong>{{ project.specialization.name }}</strong></p>
									<p>
										<a class="mr" href="{% url 'profilePublic' project.customer.user.username %}"><i class="fa fa-user" aria-hidden="true"></i> {{project.customer.user.last_name}} {{project.customer.user.first_name}}</a>
										<span data-toggle="tooltip" data-placement="top" title="Актуален до {{project.relevant_to}}<br>Открыт {{project.date_time}}"><i class="fa fa-calendar" aria-hidden="true"></i> {{ project.relevant_to|date:'j F' }}</span>
									</p>
								</div>
								<div class="col-xs-3 tac">
									<span class="money" data-toggle="tooltip" data-placement="top" title="Бюджет проекта">{{project.money|get_price}} <i class="fa fa-rub" aria-hidden="true"></i></span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="col-xs-12">
					<div class="alert alert-info">
						<strong>У вас нет проектов</strong>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</article>
</article>
<article class="row">

	{% include "inc/pagination.html" with list=projects %}

</article>

<div class="modal fade" id="RemoveModal" tabindex="-1" role="dialog" aria-labelledby="RemoveModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="RemoveModalLabel">Удаление проекта</h4>
			</div>
			<div class="modal-body">
				Вы уверены что хотите удалить проект?<br>
				Это действие невозможно отменить
			</div>
			<div class="modal-footer">
				<form method="POST" action="{% url 'removeProject' %}">
					{% csrf_token %}
					<input type="hidden" name="project" id="projectRemove">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button type="submit" class="btn btn-primary">Удалить</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="CloseModal" tabindex="-1" role="dialog" aria-labelledby="CloseModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="CloseModalLabel">Закрытие проекта без выполнения</h4>
			</div>
			<div class="modal-body">
				Вы уверены что хотите закрыть проект без выполнения?<br>
				Это действие невозможно отменить
			</div>
			<div class="modal-footer">
				<form method="POST" action="{% url 'closeProject' %}">
					{% csrf_token %}
					<input type="hidden" name="project" id="projectClose">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button type="submit" class="btn btn-primary">Закрыть без выполнения</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="EndModal" tabindex="-1" role="dialog" aria-labelledby="EndModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="EndModalLabel">Завершение проекта</h4>
			</div>
			<div class="modal-body">
				Вы уверены что хотите завершить проект?<br>
				Это действие невозможно отменить
			</div>
			<div class="modal-footer">
				<form method="POST" action="{% url 'endProject' %}">
					{% csrf_token %}
					<input type="hidden" name="project" id="projectEnd">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button type="submit" class="btn btn-primary">Завершить проект</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ExtendModal" tabindex="-1" role="dialog" aria-labelledby="ExtendModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="ExtendModalLabel">Продление проекта</h4>
			</div>
			<div class="modal-body">
				Продлить актуальность проекта еще на 30 дней?
			</div>
			<div class="modal-footer">
				<form method="POST" action="{% url 'extendProject' %}">
					{% csrf_token %}
					<input type="hidden" name="project" id="projectExtend">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button type="submit" class="btn btn-primary">Продлить</button>
				</form>
			</div>
		</div>
	</div>
</div>