{% load auth_extras %}
{% load split_filter %}

<article class="article myProject">
	<h3>Мои заявки</h3>
	<hr>
	<article class="row">
		{% if rates %}
			{% for rate in rates %}
				<div class="col-xs-12">
					<div class="card">
						<div class="row">
							<div class="col-xs-9">
								<h5><a href="{% url 'project' rate.project.id %}"><strong>{{ rate.project.name }}</strong></a></h5>
								<p>Статус: <strong>{{ rate.project.status }}</strong></p>
								<p>Специализация: <strong>{{ rate.project.specialization.name }}</strong></p>
								<p>
									<a class="mr" href="{% url 'profilePublic' rate.project.customer.user.username %}"><i class="fa fa-user" aria-hidden="true"></i> {{rate.project.customer.user.last_name}} {{rate.project.customer.user.first_name}}</a>
									<span data-toggle="tooltip" data-placement="top" title="Актуален до {{rate.project.relevant_to}}<br>Открыт {{rate.project.date_time}}"><i class="fa fa-calendar" aria-hidden="true"></i> {{ rate.project.relevant_to|date:'j F' }}</span>
								</p>
							</div>
							<div class="col-xs-3 tac">
								<span class="money" data-toggle="tooltip" data-placement="top" title="Бюджет проекта">{{rate.project.money|get_price}} <i class="fa fa-rub" aria-hidden="true"></i></span>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="col-xs-12">
				<div class="alert alert-info">
					<strong>У вас нет ставок</strong>
				</div>
			</div>
		{% endif %}
	</article>
</article>
<article class="row">
	{% include "inc/pagination.html" with list=rates %}
</article>