{% load auth_extras %}
{% load split_filter %}

<article class="myReviews">
	{% if projects_review %}
		<h3>Оставить отзыв</h3>
		<hr>
		<article class="row">
			<div class="col-xs-12">
				{% for project in projects_review %}
					{% if request.user|has_group:"Заказчик" %}
						<div class="alert alert-info">
							<div class="row">
								<div class="col-sm-8">
									Оставьте отзыв о пользователе <a href="{% url 'profilePublic' project.performer.user.username %}"><strong>{{project.performer.user.last_name}} {{project.performer.user.first_name}}</strong></a>. Проект: "<a href="{% url 'project' project.id %}"><strong>{{project}}</strong></a>"
								</div>
								<div class="col-sm-4 tar">
									<a href="{% url 'addReview' project.id %}" class="btn btn-primary">Оставить отзыв</a>
								</div>
							</div>
						</div>
					{% elif request.user|has_group:"Исполнитель" %}
						<div class="alert alert-info">
							<div class="row">
								<div class="col-sm-8">
									Оставьте отзыв о пользователе <a href="{% url 'profilePublic' project.customer.user.username %}"><strong>{{project.customer.user.last_name}} {{project.customer.user.first_name}}</strong></a>. Проект: "<a href="{% url 'project' project.id %}"><strong>{{project}}</strong></a>"
								</div>
								<div class="col-sm-4 tar">
									<a href="{% url 'addReview' project.id %}" class="btn btn-primary">Оставить отзыв</a>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</article>
	{% endif %}
	<h3>Отзывы обо мне</h3>
	<hr>
	<article class="row list">
		<div class="col-xs-12">
			{% if reviews %}
				{% for review in reviews %}
					<div class="rate-card">
						<div class="row">
							<div class="col-sm-2 rate-image">
								<a href="{% url 'profilePublic' review.profile_from.user.username %}">
									{% if review.profile_from.image %}
										<img src="{{ review.profile_from.image.url }}" class="profile-image" alt="Изображение профиля" data-toggle="tooltip" data-placement="top" title="{{ review.profile_from.user.last_name }} {{ review.profile_from.user.first_name }}">
									{% else %}
										<div class="profile-image">
											<i class="fa fa-user-secret" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ review.profile_from.user.last_name }} {{ review.profile_from.user.first_name }}"></i>
										</div>
									{% endif %}
								</a>
							</div>
							<div class="col-sm-10">
								<div class="row toolbar">
									<div class="col-sm-6">
										<span data-toggle="tooltip" data-placement="top" title="Проект"><i class="fa fa-building-o" aria-hidden="true"></i> {{ review.project.name }} </span>
									</div>
									<div class="col-sm-6">
										<span data-toggle="tooltip" data-placement="top" title="Оценка"><i class="fa fa-star" aria-hidden="true"></i> {{ review.evaluation }}/5</span>
									</div>
								</div>
								<hr class="mhr">
								<div class="row">
									<div class="col-sm-12">
										{{review.message}}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="alert alert-info">
					<strong>О вас еще никто не оставил отзыв</strong>
				</div>
			{% endif %}
		</div>
	</article>
</article>

<article class="row">
	{% include "inc/pagination.html" with list=reviews %}
</article>