{% extends "base.html" %}
{% load auth_extras %}
{% load static %}

{% block links %}

	<link href="{% static 'estimate/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'estimate/css/media.css' %}" rel="stylesheet">

{% endblock links %}

{% block content %}

<div class="container-fluid block project">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3><a href="{% url 'boardProject' %}">Все проекты</a> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{project.name}}</h3>
				<small class="help-block my-help-block">{{ project.specialization.name | safe }}</small>
				<hr>
				{% if messages %}
					<div class="container-alert">
						{% for message in messages %}
							<div class="alert-message alert alert-slide-up {% if message.tags %}alert-{{message.tags}}{% endif %}">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<p>{{ message }}</p>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="col-sm-12">
				<ul class="contArrow nav nav-tabs">
					<li class="listArrow active"><a href="#" class="blockHeadArrow">
						<span class="blockTextArrow">Публикация</span></a>
						<span class="arrowDown visible-xs"></span>
					</li>

					<li class="listArrow {% if not project.status.id == 9 %} active {% endif %}"><a href="#" class="blockHeadArrow">
						<span class="blockTextArrow">Прием заявок</span></a>
						<span class="arrowDown visible-xs"></span>
					</li>

					<li class="listArrow {% if project.status.id > 3 and not project.status.id == 9 %} active {% endif %}"><a href="#" class="blockHeadArrow">
						<span class="blockTextArrow">Выполнение</span></a>
						<span class="arrowDown visible-xs"></span>
					</li>

					<li class="listArrow {% if project.status.id > 4 and not project.status.id == 9 %} active {% endif %}">
						{% if project.status.id > 5 and not project.status.id == 9 %}
							{% if project.status.id == 8 or project.status.id == 7 %}
								<a href="#" class="blockHeadArrow red">
									<span class="blockTextArrow">{{ project.status.name }}</span>
								</a>
							{% elif  project.status.id == 6 %}
								<a href="#" class="blockHeadArrow green">
									<span class="blockTextArrow">{{ project.status.name }}</span>
								</a>
							{% endif %}
						{% else %}
							<a href="#" class="blockHeadArrow">
								<span class="blockTextArrow">Обмен отзывами</span>
							</a>
						{% endif %}

						<span class="arrowDown visible-xs"></span>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content steps">
					<div class="tab-pane fade in active">
						<div class="row">
							<div class="col-sm-9">
								{% ifequal project.status.id 9 %}
									<div class="alert alert-danger single-project">
										<strong>Проект появится на доске после оплаты комиссии сайта</strong>
										<a href="" class="btn btn-primary">Перейти к оплате</a>
									</div>
								{% endifequal %}
								<div class="description">
									{{project.description}}
								</div>
								<div class="rates">
									<h4 class="header-card">Заявки <span class="badge" style="background-color: #00ae5a;">{{ rates|length }}</span></h4>
									{% include "projects/inc/formRate.html" %}
									{% include "projects/inc/listRate.html" %}
								</div>
							</div>
							<div class="col-sm-3">
								{% include "projects/inc/sidebarSingleProject.html" %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% if not project.performer and project.status.id < 3 %}
	<div class="modal fade" id="WarningModal" tabindex="-1" role="dialog" aria-labelledby="WarningModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="WarningModalLabel">Выбор исполнителя</h4>
				</div>
				<div class="modal-body">
					Вы уверены что хотите выбрать именно этого исполнителя???<br>
					Это действие невозможно отменить
				</div>
				<div class="modal-footer">
					<form method="POST" action="{% url 'selectPerformer' %}">
						{% csrf_token %}
						{{ selectPerformerForm.performer }}
						{{ selectPerformerForm.project }}
						<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
						<button type="submit" class="btn btn-primary">Выбрать</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% endblock content %}

{% block scripts %}

{% endblock scripts %}