{% load split_filter %}
{% load define %}
{% load specializationGroup %}

<form method="POST" class="projectForm">
	{% csrf_token %}
	<input type="hidden" name="type" value="customer">
	<div class="group">
		<div class="input-group form-group {% if registrationUserForm.last_name.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationUserForm.last_name.id_for_label }}_customer">{{ registrationUserForm.last_name.label }}</label></span>
			<input type="text" name="{{ registrationUserForm.last_name.html_name }}" class="form-control" id="{{ registrationUserForm.last_name.id_for_label }}_customer" placeholder="{{ registrationUserForm.last_name.label }}" value="{{ registrationUserForm.instance.last_name|default_if_none:'' }}" required>
		</div>
		{% if registrationUserForm.last_name.errors %}
			<div class="errors">
				{% for err in registrationUserForm.last_name.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group {% if registrationUserForm.first_name.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationUserForm.first_name.id_for_label }}_customer">{{ registrationUserForm.first_name.label }}</label></span>
			<input type="text" name="{{ registrationUserForm.first_name.html_name }}" class="form-control" id="{{ registrationUserForm.first_name.id_for_label }}_customer" placeholder="{{ registrationUserForm.first_name.label }}" value="{{ registrationUserForm.instance.first_name|default_if_none:'' }}" required>
		</div>
		{% if registrationUserForm.first_name.errors %}
			<div class="errors">
				{% for err in registrationUserForm.first_name.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group {% if registrationUserForm.email.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationUserForm.email.id_for_label }}_customer">{{ registrationUserForm.email.label }}</label></span>
			<input type="email" name="{{ registrationUserForm.email.html_name }}" class="form-control" id="{{ registrationUserForm.email.id_for_label }}_customer" placeholder="{{ registrationUserForm.email.label }}" value="{{ registrationUserForm.instance.email|default_if_none:'' }}" required>
		</div>
		{% if registrationUserForm.email.errors %}
			<div class="errors">
				{% for err in registrationUserForm.email.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group {% if registrationProfileCustomerForm.phone.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationProfileCustomerForm.phone.id_for_label }}_customer">{{ registrationProfileCustomerForm.phone.label }}</label></span>
			<input type="tel" name="{{ registrationProfileCustomerForm.phone.html_name }}" class="form-control" id="{{ registrationProfileCustomerForm.phone.id_for_label }}_customer" placeholder="{{ registrationProfileCustomerForm.phone.label }}" value="{{ registrationProfileCustomerForm.instance.phone|default_if_none:'' }}" required>
		</div>
		{% if registrationProfileCustomerForm.phone.errors %}
			<div class="errors">
				{% for err in registrationProfileCustomerForm.phone.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group {% if registrationProfileCustomerForm.town.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationProfileCustomerForm.town.id_for_label }}_customer">{{ registrationProfileCustomerForm.town.label }}</label></span>
			<select name="{{ registrationProfileCustomerForm.town.html_name }}" class="form-control" id="{{ registrationProfileCustomerForm.town.id_for_label }}_customer">
				{% for id, name in registrationProfileCustomerForm.town.field.choices %}
					<option value="{{ id }}" {% ifequal registrationProfileCustomerForm.instance.town.id id %} selected {% endifequal %}>{{ name }}</option>
				{% endfor %}
			</select>
		</div>
		{% if registrationProfileCustomerForm.town.errors %}
			<div class="errors">
				{% for err in registrationProfileCustomerForm.town.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group mb {% if userCreationForm.username.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ userCreationForm.username.id_for_label }}_customer">{{ userCreationForm.username.label }}</label></span>
			<input type="text" name="{{ userCreationForm.username.html_name }}" class="form-control" id="{{ userCreationForm.username.id_for_label }}_customer" placeholder="{{ userCreationForm.username.label }}" value="{{ userCreationForm.instance.username|default_if_none:'' }}" required>
		</div>
		{% if userCreationForm.username.errors %}
			<div class="errors">
				{% for err in userCreationForm.username.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<small class="help-block my-help-block">{{ userCreationForm.username.help_text | safe }}</small>
	</div>
	<div class="group">
		<div class="input-group form-group mb {% if userCreationForm.password1.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ userCreationForm.password1.id_for_label }}_customer">{{ userCreationForm.password1.label }}</label></span>
			<input type="password" name="{{ userCreationForm.password1.html_name }}" class="form-control" id="{{ userCreationForm.password1.id_for_label }}_customer" placeholder="{{ userCreationForm.password1.label }}" value="{{ userCreationForm.instance.password1|default_if_none:'' }}" required>
		</div>
		{% if userCreationForm.password1.errors %}
			<div class="errors">
				{% for err in userCreationForm.password1.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<div class="help-block my-help-block" style="font-size: 85%;">{{ userCreationForm.password1.help_text | safe }}</div>
	</div>
	<div class="group">
		<div class="input-group form-group mb {% if userCreationForm.password2.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ userCreationForm.password2.id_for_label }}_customer">{{ userCreationForm.password2.label }}</label></span>
			<input type="password" name="{{ userCreationForm.password2.html_name }}" class="form-control" id="{{ userCreationForm.password2.id_for_label }}_customer" placeholder="{{ userCreationForm.password2.label }}" value="{{ userCreationForm.instance.password2|default_if_none:'' }}" required>
		</div>
		{% if userCreationForm.password2.errors %}
			<div class="errors">
				{% for err in userCreationForm.password2.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<small class="help-block my-help-block">{{ userCreationForm.password2.help_text | safe }}</small>
	</div>
	<article class="article">
		<div class="form-group tac">
			<button type="submit" class="btn btn-primary">Регистрация</button>
		</div>
	</article>
</form>