{% load split_filter %}
{% load define %}
{% load specializationGroup %}

<form method="POST" class="projectForm">
	{% csrf_token %}
	<input type="hidden" name="type" value="performer">
	<div class="group">
		<div class="input-group form-group {% if registrationUserForm.last_name.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationUserForm.last_name.id_for_label }}_performer">{{ registrationUserForm.last_name.label }}</label></span>
			<input type="text" name="{{ registrationUserForm.last_name.html_name }}" class="form-control" id="{{ registrationUserForm.last_name.id_for_label }}_performer" placeholder="{{ registrationUserForm.last_name.label }}" value="{{ registrationUserForm.instance.last_name|default_if_none:'' }}" required>
		</div>
		{% if registrationUserForm.last_name.errors %}
			<div class="errors">
				{% for err in registrationUserForm.last_name.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group {% if registrationUserForm.first_name.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationUserForm.first_name.id_for_label }}_performer">{{ registrationUserForm.first_name.label }}</label></span>
			<input type="text" name="{{ registrationUserForm.first_name.html_name }}" class="form-control" id="{{ registrationUserForm.first_name.id_for_label }}_performer" placeholder="{{ registrationUserForm.first_name.label }}" value="{{ registrationUserForm.instance.first_name|default_if_none:'' }}" required>
		</div>
		{% if registrationUserForm.first_name.errors %}
			<div class="errors">
				{% for err in registrationUserForm.first_name.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group {% if registrationUserForm.email.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationUserForm.email.id_for_label }}_performer">{{ registrationUserForm.email.label }}</label></span>
			<input type="email" name="{{ registrationUserForm.email.html_name }}" class="form-control" id="{{ registrationUserForm.email.id_for_label }}_performer" placeholder="{{ registrationUserForm.email.label }}" value="{{ registrationUserForm.instance.email|default_if_none:'' }}" required>
		</div>
		{% if registrationUserForm.email.errors %}
			<div class="errors">
				{% for err in registrationUserForm.email.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group {% if registrationProfilePerformerForm.phone.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationProfilePerformerForm.phone.id_for_label }}_performer">{{ registrationProfilePerformerForm.phone.label }}</label></span>
			<input type="tel" name="{{ registrationProfilePerformerForm.phone.html_name }}" class="form-control" id="{{ registrationProfilePerformerForm.phone.id_for_label }}_performer" placeholder="{{ registrationProfilePerformerForm.phone.label }}" value="{{ registrationProfilePerformerForm.instance.phone|default_if_none:'' }}" required>
		</div>
		{% if registrationProfilePerformerForm.phone.errors %}
			<div class="errors">
				{% for err in registrationProfilePerformerForm.phone.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group {% if registrationProfilePerformerForm.town.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationProfilePerformerForm.town.id_for_label }}_performer">{{ registrationProfilePerformerForm.town.label }}</label></span>
			<select name="{{ registrationProfilePerformerForm.town.html_name }}" class="form-control" id="{{ registrationProfilePerformerForm.town.id_for_label }}_performer">
				{% for id, name in registrationProfilePerformerForm.town.field.choices %}
					<option value="{{ id }}" {% ifequal registrationProfilePerformerForm.instance.town.id id %} selected {% endifequal %}>{{ name }}</option>
				{% endfor %}
			</select>
		</div>
		{% if registrationProfilePerformerForm.town.errors %}
			<div class="errors">
				{% for err in registrationProfilePerformerForm.town.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group {% if registrationProfilePerformerForm.specialization.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ registrationProfilePerformerForm.specialization.id_for_label }}_performer">{{ registrationProfilePerformerForm.specialization.label }}</label></span>
			<select name="{{ registrationProfilePerformerForm.specialization.html_name }}" class="select-2 form-control" id="{{ registrationProfilePerformerForm.specialization.id_for_label }}_performer">
				{% for id, name in registrationProfilePerformerForm.specialization.field.choices %}
					{% if id %}
						{% ifchanged id|get_group  %}
							{% if forloop.counter != 2 %}
								</optgroup>
							{% endif %}
								<optgroup label="{{ id|get_group }}">
						{% endifchanged %}
						<option value="{{ id }}" {% ifequal registrationProfilePerformerForm.instance.specialization.id id %} selected {% endifequal %}>{{ name|string_after:'|' }}</option>
					{% else %}
						<option value {% ifequal registrationProfilePerformerForm.instance.specialization.id id %} selected {% endifequal %}>{{ name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		{% if registrationProfilePerformerForm.specialization.errors %}
			<div class="errors">
				{% for err in registrationProfilePerformerForm.specialization.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="group">
		<div class="input-group form-group mb {% if userCreationForm.username.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ userCreationForm.username.id_for_label }}_performer">{{ userCreationForm.username.label }}</label></span>
			<input type="text" name="{{ userCreationForm.username.html_name }}" class="form-control" id="{{ userCreationForm.username.id_for_label }}_performer" placeholder="{{ userCreationForm.username.label }}" value="{{ userCreationForm.instance.username|default_if_none:'' }}" required>
		</div>
		{% if userCreationForm.username.errors %}
			<div class="errors">
				{% for err in userCreationForm.username.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<small class="help-block my-help-block">{{ userCreationForm.username.help_text | safe }}</small>
	</div>
	<div class="group">
		<div class="input-group form-group mb {% if userCreationForm.password1.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ userCreationForm.password1.id_for_label }}_performer">{{ userCreationForm.password1.label }}</label></span>
			<input type="password" name="{{ userCreationForm.password1.html_name }}" class="form-control" id="{{ userCreationForm.password1.id_for_label }}_performer" placeholder="{{ userCreationForm.password1.label }}" value="{{ userCreationForm.instance.password1|default_if_none:'' }}" required>
		</div>
		{% if userCreationForm.password1.errors %}
			<div class="errors">
				{% for err in userCreationForm.password1.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<div class="help-block my-help-block" style="font-size: 85%;">{{ userCreationForm.password1.help_text | safe }}</div>
	</div>
	<div class="group">
		<div class="input-group form-group mb {% if userCreationForm.password2.errors %} errors-group {% endif %}">
			<span class="input-group-addon"><label for="{{ userCreationForm.password2.id_for_label }}_performer">{{ userCreationForm.password2.label }}</label></span>
			<input type="password" name="{{ userCreationForm.password2.html_name }}" class="form-control" id="{{ userCreationForm.password2.id_for_label }}_performer" placeholder="{{ userCreationForm.password2.label }}" value="{{ userCreationForm.instance.password2|default_if_none:'' }}" required>
		</div>
		{% if userCreationForm.password2.errors %}
			<div class="errors">
				{% for err in userCreationForm.password2.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<small class="help-block my-help-block">{{ userCreationForm.password2.help_text | safe }}</small>
	</div>
	<article class="article summary">
		<div class="form-group mb {% if registrationProfilePerformerForm.info.errors %} errors-group {% endif %}">
			<div class="group-addon">
				<label for="{{ registrationProfilePerformerForm.info.id_for_label }}_performer">
					{{ registrationProfilePerformerForm.info.label }}
				</label>
			</div>
			<textarea name="{{ registrationProfilePerformerForm.info.html_name }}" class="form-control" id="{{ registrationProfilePerformerForm.info.id_for_label }}_performer" placeholder="{{ registrationProfilePerformerForm.info.label }}" required>{{ registrationProfilePerformerForm.instance.info|default_if_none:'' }}</textarea>
		</div>
		{% if registrationProfilePerformerForm.info.errors %}
			<div class="errors">
				{% for err in registrationProfilePerformerForm.info.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<small class="help-block my-help-block">{{ registrationProfilePerformerForm.info.help_text | safe }}</small>
	</article>
	<article class="article">
		<div class="form-group tac">
			<button type="submit" class="btn btn-primary">Регистрация</button>
		</div>
	</article>
</form>