{% load static %}
{% load user_messages %}
{% load notification_review %}
{% load define %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ pageName }}</title>

	<link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

	<link href="{% static 'lib/bootstrap-3.3.2/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'lib/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
	<link href="{% static 'lib/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet">
	{% block links %}{% endblock links %}
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/media.css' %}" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body data-spy="scroll" data-target="#sidebar_spy" data-offset="50">

	{% if user.is_authenticated %}
		{% define user.userprofile|get_message_count as message_count %}
		{% define user.userprofile|get_review_count as review_count %}
		{% define review_count|add:message_count as count_all_notification %}
	{% endif %}
	<header>
		{% include "inc/nav.html" %}
	</header>

	<main class="content">
		{% block content %}{% endblock content %}
	</main>

	<footer class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="copyright">
						© {% now 'Y' %}, RSUE, Все права защищены
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				</div>
			</div>
		</div>
	</footer>

	<script src="{% static 'lib/jquery.min.js' %}"></script>
	<script src="{% static 'lib/bootstrap-3.3.2/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'lib/select2/js/select2.full.min.js' %}"></script>
	<script src="{% static 'lib/select2/js/i18n/ru.js' %}"></script>
	<script src="{% static 'lib/jquery.maskedinput.min.js' %}"></script>
	<script src="{% static 'lib/fancybox/jquery.fancybox.min.js' %}"></script>

	{% block scripts %}{% endblock scripts %}

	<script src="{% static 'js/common.js' %}"></script>

</body>
</html>