{% extends "base.html" %}
{% load static %}

{% block links %}
	<link href="{% static 'lib/simplebar/simplebar.css' %}" rel="stylesheet" type="text/css">
{% endblock links %}

{% block content %}

<div class="container profile">
	<div class="row">
		{% include "inc/sidebar_profile.html" with active=activPage%}
		<section class="col-xs-12 col-sm-8 col-md-9 form-include" style="margin-bottom: 20px;">
			{% include template_inc %}
		</section>
	</div>
</div>

<div class="alert alert-success alert-message alert-copy" id="clipboard-sucess" style="display: none;">
	<i class="fa fa-check" aria-hidden="true"></i> Ссылка скопирована
</div>

<div class="loader-container">
	<div class="loader">Загрузка...</div>
</div>

{% endblock content %}

{% block scripts %}
	<script src="{% static 'lib/clipboard/clipboard.min.js' %}"></script>
	<script src="{% static 'lib/simplebar/simplebar.js' %}" type="text/javascript"></script>
{% endblock scripts %}