{% extends "base.html" %}
{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'lib/pannellum/pannellum.css' %}" />
	<link rel="stylesheet" href="{% static 'lib/owlCarousel-2/assets/owl.carousel.min.css' %}" />
	<link rel="stylesheet" href="{% static 'lib/owlCarousel-2/assets/owl.theme.default.min.css' %}" />
	<link href="{% static 'estimate/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'estimate/css/media.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}

<div class="container-fluid block">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<ul class="contArrow nav nav-tabs">
					<li class="listArrow active"><a href="#design" data-toggle="tab" class="blockHeadArrow"><span class="blockTextArrow">Дизайн</span></a>
					<span class="arrowDown visible-xs"></span>
					</li>

					<li class="listArrow"><a href="#estimate" data-toggle="tab" class="blockHeadArrow"><span class="blockTextArrow">Смета</span></a>
					<span class="arrowDown visible-xs"></span>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content steps">
					<div class="tab-pane fade in active" id="design">

						{% if typeDesigns %}
							<div class="owl-carousel owl-theme">
								{% for design in typeDesigns %}
									<div class="item">
										<a data-sceneid="design{{ design.id }}" data-image="{{ design.image.url }}" data-titlescene="{{ design.name }}" class="render {% if forloop.first %}activDesign{% endif %}" style="background-image: url({{ design.image.url }});">
											<span class="circle">
												<i class="fa fa-check" aria-hidden="true"></i>
											</span>
											<span class="textDesign">{{ design.name }}</span>
										</a>
									</div>
								{% endfor %}
							</div>

							<div class="clearfix margin-bottom"></div>
							<div id="panorama"></div>
						{% else %}
							<div class="col-sm-12">Типовые дизайны не найдены</div>
						{% endif %}
					</div>
					<div class="tab-pane fade " id="estimate">
						<canvas id="constructor" width="1000" height="480" style="border: 1px solid black"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'lib/pannellum/pannellum.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/owlCarousel-2/owl.carousel.min.js' %}"></script>
	<script src="{% static '/estimate/lib/constructor/Room.js' %}"></script>
	<script src="{% static '/estimate/lib/constructor/Angle.js' %}"></script>
	<script src="{% static '/estimate/lib/constructor/Wall.js' %}"></script>
	<script src="{% static '/estimate/lib/constructor/Functions.js' %}"></script>
	<script src="{% static '/estimate/lib/constructor/Constructor.js' %}"></script>
	<script src="{% static '/estimate/lib/constructor/Constructors.js' %}"></script>
	<script src="{% static '/estimate/js/script.js' %}"></script>

{% endblock scripts %}