{% load static %}
{% load auth_extras %}
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				{% if user.is_authenticated %}
					{% if user.userprofile.image %}
						<img src="{{ user.userprofile.image.url }}" class="profile-image" alt="Изображение профиля">
					{% else %}
						<div class="profile-image">
							<i class="fa fa-user-secret" aria-hidden="true"></i>
						</div>
					{% endif %}
				{% else %}
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				{% endif %}
			</button>
			{% if count_all_notification > 0 %}
				<span class="visible-xs count-message-nav-right badge" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">{{ count_all_notification }} </span>
			{% endif %}
			<i class="fa fa-bars visible-xs" aria-hidden="true" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></i>
			<a class="logo" href="{% url 'home' %}">
				<img src="{% static 'img/logo.png' %}" alt="Логотип">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">
				{% if user.is_authenticated %}
					{% if request.user|has_group:"Заказчик" %}
						<li {% if activPage == 'AddProject' %} class="active" {% endif %}>
							<a href="{% url 'addProject' %}"><i class="fa fa-gavel" aria-hidden="true"></i> Добавить проект</a>
						</li>
					{% endif %}
				{% endif %}
				<li {% if activPage == 'BoardProject' %} class="active" {% endif %}>
					<a href="{% url 'boardProject' %}"><i class="fa fa-list-alt" aria-hidden="true"></i> Проекты</a>
				</li>
				<!--<li {% if activPage == 'Performers' %} class="active" {% endif %}>
					<a href="{% url 'listPerformers' %}"><i class="fa fa-users" aria-hidden="true"></i> Исполнители</a>
				</li>
				<li {% if activPage == 'Customers' %} class="active" {% endif %}>
					<a href="{% url 'listСustomers' %}"><i class="fa fa-child" aria-hidden="true"></i> Заказчики</a>
				</li>
				<li {% if activPage == 'Works' %} class="active" {% endif %}>
					<a href="{% url 'portfolioAll' %}"><i class="fa fa-paint-brush" aria-hidden="true"></i> Работы</a>
				</li>-->
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
					<li class="dropdown">

						{% if user.userprofile.image %}
							<img src="{{ user.userprofile.image.url }}" class="profile-image hidden-xs" alt="Изображение профиля">
						{% else %}
							<div class="profile-image hidden-xs">
								<i class="fa fa-user-secret" aria-hidden="true"></i>
							</div>
						{% endif %}
						{% if count_all_notification > 0 %}
							<span class="count-message-nav badge hidden-xs">{{ count_all_notification }} </span>
						{% endif %}

						<a href="#" class="hidden-xs profile-link dropdown-toggle" data-toggle="dropdown">
							{{ user.first_name }} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li {% if activPage == '' %} class="active" {% endif %}>
								<a href="{% url 'messages' %}"><i class="fa fa-envelope" aria-hidden="true"></i> Мои сообщения
									{% if message_count > 0 %}
										<span class="count-message badge">{{ message_count }} </span>
									{% endif %}
								</a>
							</li>
							<li {% if activPage == '' %} class="active" {% endif %}>
								<a href="{% url 'myProject' %}"><i class="fa fa-building-o" aria-hidden="true"></i> Мои проекты</a>
							</li>
							<!--<li {% if activPage == '' %} class="active" {% endif %}>
								<a href="{% url 'myReviews' %}"><i class="fa fa-bell" aria-hidden="true"></i>
									Уведомления
								</a>
							</li>-->
							<li {% if activPage == '' %} class="active" {% endif %}>
								<a href="{% url 'myReviews' %}"><i class="fa fa-comments" aria-hidden="true"></i>
									Отзывы
									{% if review_count > 0 %}
										<span class="count-message badge">{{ review_count }} </span>
									{% endif %}
								</a>
							</li>
							<li class="divider hidden-xs"></li>
							<li {% if activPage == '' %} class="active" {% endif %}>
								<a href="{% url 'profilePersonal' %}"><i class="fa fa-user-circle" aria-hidden="true"></i> Мой профиль</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{% url 'logout' %}?next={{request.path}}"><i class="fa fa-sign-out" aria-hidden="true"></i> Выход</a>
							</li>
						</ul>
					</li>
				{% else %}
					<li {% if activPage == 'Registration' %} class="active" {% endif %}>
						<a href="{% url 'userRegistration' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Регистрация</a>
					</li>
					<li {% if activPage == '' %} class="active" {% endif %}>
						<a href="{% url 'login' %}"><i class="fa fa-user-circle" aria-hidden="true"></i> Вход</a>
					</li>
				{% endif %}
			</ul>

		</div>
	</div>
</nav>