{% load define %}

{% define request.GET.lists|get_parameter as filters %}

<div class="col-xs-12 pagination-container">
	{% if list.has_other_pages %}
		<ul class="pagination">
			{% if list.has_previous %}
				<li><a href="?page=1{% if filters %}{{filters}}{% endif %}">В начало</a></li>
				<li><a href="?page={{ list.previous_page_number }}{% if filters %}{{filters}}{% endif %}">&laquo;</a></li>
			{% else %}
				<li class="disabled"><span>&laquo;</span></li>
			{% endif %}

			{% if list.number != 1 %}
				{% if list.number != 2 %}
					<li class="disabled"><span>...</span></li>
				{% endif %}
				<li><a href="?page={{ list.number|add:'-1' }}{% if filters %}{{filters}}{% endif %}">{{ list.number|add:'-1' }}</a></li>
			{% endif %}

			<li class="active"><span>{{ list.number }} <span class="sr-only">(current)</span></span></li>

			{% if list.number != list.paginator.num_pages %}
				<li><a href="?page={{ list.number|add:'1' }}{% if filters %}{{filters}}{% endif %}">{{ list.number|add:'1' }}</a></li>
				{% if list.number != list.paginator.num_pages|add:'-1' %}
					<li class="disabled"><span>...</span></li>
				{% endif %}
			{% endif %}

			{% if list.has_next %}
				<li><a href="?page={{ list.next_page_number }}{% if filters %}{{filters}}{% endif %}">&raquo;</a></li>
				<li><a href="?page={{ list.paginator.num_pages }}{% if filters %}{{filters}}{% endif %}">В конец</a></li>
			{% else %}
				<li class="disabled"><span>&raquo;</span></li>
			{% endif %}
		</ul>
	{% endif %}
</div>