{% load auth_extras %}
<aside class="hidden-xs col-sm-4 col-md-3 profile-nav sidebar">
	<ul class="nav nav-sidebar">
		<li {% if active == 'Personal' %} class="active" {% endif %}>
			<a href="{% url 'profilePersonal' %}"><i class="fa fa-address-card" aria-hidden="true"></i> Личная информация</a>
		</li>
		<li class="message-count-container {% if active == 'Messages' %}active{% endif %}">
			<a href="{% url 'messages' %}"><i class="fa fa-envelope" aria-hidden="true"></i>
				Сообщения
				{% if message_count > 0 %}
					<span class="count-message badge">{{ message_count }} </span>
				{% endif %}
			</a>
		</li>
		<li {% if active == 'MyProject' %} class="active" {% endif %}>
			<a href="{% url 'myProject' %}"><i class="fa fa-building-o" aria-hidden="true"></i> Мои проекты</a>
		</li>
		<!--<li {% if active == '' %} class="active" {% endif %}>
			<a href=""><i class="fa fa-bell" aria-hidden="true"></i> Уведомления</a>
		</li>-->
		{% if not request.user|has_group:"Заказчик" %}
			<li {% if active == 'Summary' %} class="active" {% endif %}>
				<a href="{% url 'profileSummary' %}"><i class="fa fa-address-book-o" aria-hidden="true"></i> Резюме</a>
			</li>
			<li {% if active == 'Portfolio' %} class="active" {% endif %}>
				<a href="{% url 'portfolio' %}"><i class="fa fa-list-alt" aria-hidden="true"></i> Портфолио</a>
			</li>
			<li {% if active == 'MyRate' %} class="active" {% endif %}>
				<a href="{% url 'myRate' %}"><i class="fa fa-gavel" aria-hidden="true"></i> Мои заявки</a>
			</li>
			<li {% if active == 'Specialization' %} class="active" {% endif %}>
				<a href="{% url 'profileSpecialization' %}"><i class="fa fa-sitemap" aria-hidden="true"></i> Специализации</a>
			</li>
		{% endif %}
		<!--<li>
			<a href="{% url 'profilePublic' user.username %}"><i class="fa fa-television" aria-hidden="true"></i> Просмотр профиля</a>
		</li>-->
		<li class="message-count-container {% if active == 'MyReviews' %} active {% endif %}">
			<a href="{% url 'myReviews' %}"><i class="fa fa-comments" aria-hidden="true"></i>
				Отзывы
				{% if review_count > 0 %}
					<span class="count-message badge">{{ review_count }} </span>
				{% endif %}
			</a>
		</li>
		<!--<li {% if active == 'UserSettings' %} class="active" {% endif %}>
			<a href="{% url 'userSettings' %}"><i class="fa fa-cog" aria-hidden="true"></i> Настройки</a>
		</li>-->
	</ul>
</aside>