<a href="{% url 'messages' %}" class="btn btn-default btn-message-app">&larr; Назад</a>
<a href="#" class="btn btn-default btn-message-app"><i class="fa fa-ban" aria-hidden="true" style="color: #D2322D;"></i> Заблокировать</a>
<hr>

{% now "Y" as year %}
{% now "j" as day %}

<div class="row message-app">
	<div class="col-xs-12 message-sidebar">
		<div class="row message-sidebar-container">
			<div class="col-xs-12">
				<h4 class="tac"><a href="{%url 'project' project.id %}">Проект: "{{project.name}}"</a></h4>
			</div>
			<div class="col-xs-12">

				<a href="{%url 'profilePublic' profile.user.username %}" class="profile-link">
					{% if profile.image %}
						<img src="{{ profile.image.url }}" class="profile-img">
					{% else %}
						<i class="fa fa-user-secret" aria-hidden="true"></i>
					{% endif %}
					<div class="text">
						<div class="name">
							{{ profile.user.first_name }} {{ profile.user.last_name }}
						</div>
						<div class="town">
							{% if profile.town %}
								г. {{ profile.town.name }}
							{% endif %}
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 messages-list scroll">
		{% for message in messages %}
			{% ifchanged message.date_time|date:'d'  %}
				{% ifequal message.date_time|date:'Y' year %}
					{% ifequal message.date_time|date:'j' day %}
						<div class="massage-day">Сегодня</div>
					{% else %}
						<div class="massage-day">{{ message.date_time|date:'j F' }}</div>
					{% endifequal %}
				{% else %}
					<div class="massage-day">{{ message.date_time|date:'j F Y' }}</div>
				{% endifequal %}
			{% endifchanged %}
			<div class="message-item {% ifequal message.profile user.userprofile  %}my{% endifequal %}">
				{% ifequal message.date_time|date:'Y' year %}
					<div class="text" data-toggle="tooltip" data-placement="top" title="{{ message.date_time|date:'j b' }} {{ message.date_time|time:'H:i' }}">
						<span class="user">
							{% ifequal message.profile user.userprofile %}
								Вы
							{% else %}
								{{ message.profile.user.first_name }} {{ message.profile.user.last_name }}
							{% endifequal %}
							{% ifequal message.profile project.customer %}
								(Заказчик)
							{% endifequal %}
							{% ifequal message.profile project.performer %}
								(Исполнитель)
							{% endifequal %}
							{% ifequal message.profile project.manager %}
								(Менеджер)
							{% endifequal %}
						:</span><br>
						{{ message.message }}
					</div>
				{% else %}
					<div class="text" data-toggle="tooltip" data-placement="top" title="{{ message.date_time|date:'j b Y' }} {{ message.date_time|time:'H:i' }}">
						<span class="user">
							{% ifequal message.profile user.userprofile %}
								Вы
							{% else %}
								{{ message.profile.user.first_name }} {{ message.profile.user.last_name }}
							{% endifequal %}
							{% ifequal message.profile project.customer %}
								(Заказчик)
							{% endifequal %}
							{% ifequal message.profile project.performer %}
								(Исполнитель)
							{% endifequal %}
							{% ifequal message.profile project.manager %}
								(Менеджер)
							{% endifequal %}
						:</span><br>
						{{ message.message }}
					</div>
				{% endifequal %}
			</div>
		{% endfor %}
	</div>
	<div class="col-xs-12 message-toolbar">
		<form method="POST">
			{% csrf_token %}
			<button class="button smile"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
			<textarea placeholder="Написать сообщение" class="message-input" name="{{ messageForm.message.html_name }}" rows="1" data-emojiable="true"></textarea>
			<button type="submit" class="button send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
		</form>
	</div>
</div>