{% load auth_extras %}

<h3>Сообщения</h3>
<hr>

<div class="row">
	<div class="col-xs-12">
		{% if messages %}
			{% for value in messages %}
				<div class="row message">
					<div class="col-xs-4 col-sm-3 col-md-2 message-image-container">
						{% if request.user|has_group:"Заказчик" %}
							<a href="{% url 'profilePublic' value.project.performer.user.username %}" class="href-img" data-toggle="tooltip" data-placement="top" title="Открыть профиль: {{value.project.performer.user.last_name}} {{value.project.performer.user.first_name}}">
								{% if value.project.performer.image %}
									<img src="{{ value.project.performer.image.url }}">
								{% else %}
									<i class="fa fa-user-secret" aria-hidden="true"></i>
								{% endif %}
							</a>
						{% elif request.user|has_group:"Исполнитель" %}
							<a href="{% url 'profilePublic' value.project.customer.user.username %}" class="href-img" data-toggle="tooltip" data-placement="top" title="Открыть профиль: {{value.project.customer.user.last_name}} {{value.project.customer.user.first_name}}">
								{% if value.project.customer.image %}
									<img src="{{ value.project.customer.image.url }}">
								{% else %}
									<i class="fa fa-user-secret" aria-hidden="true"></i>
								{% endif %}
							</a>
						{% endif %}
					</div>
					<div class="col-xs-8 col-sm-9 col-md-10 text-container">
						<a href="{% url 'dialog' value.project.id %}" class="dialog" data-toggle="tooltip" data-placement="top" title="Открыть диалог">
							<div class="name">
								<h3>
									{{ value.project.name }}
								</h3>
							</div>
							<div class="text">
								{% ifequal value.last_message.profile user.userprofile %}
									<span class="you">Вы:</span>
								{% endifequal %}
								{% ifequal value.last_message.profile value.project.manager %}
									<span class="you">Менеджер:</span>
								{% endifequal %}
								{% if request.user|has_group:"Заказчик" %}
									{% ifequal value.last_message.profile value.project.performer %}
										<span class="you">Исполнитель:</span>
									{% endifequal %}
								{% elif request.user|has_group:"Исполнитель" %}
									{% ifequal value.last_message.profile value.project.customer %}
										<span class="you">Заказчик:</span>
									{% endifequal %}
								{% endif %}
								{{ value.last_message }}
							</div>
							{% if value.count_message != 0 %}
								<span class="count badge label-success">{{ value.count_message }}</span>
							{% endif %}
						</a>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-info">
				<strong>Сообщений еще нет</strong>
			</div>
		{% endif %}
	</div>
</div>