{% load auth_extras %}
{% load vardump %}
{%load define %}

<form class="ajaxPersonal" method="POST" enctype='multipart/form-data'>

	{% csrf_token %}

	{{ profileForm.non_field_errors }}

	<article class="article">
		<h3>Параметры учетной записи</h3>
		{% if messages %}
			<div class="container-alert">
				{% for message in messages %}
					<div class="alert-message alert {% if message.tags %}alert-{{message.tags}}{% endif %}">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<hr>
		<div class="input-group form-group">
			<span class="input-group-addon"><label>Имя пользователя</label></span>
			<input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
		</div>
		<div class="input-group form-group">
			<span class="input-group-addon"><label>Тип профиля</label></span>
			<input type="text" class="form-control" id="typeProfile" value="{% if request.user|has_group:'Заказчик' %} Заказчик {% else %} Исполнитель {% endif %}" readonly>
		</div>
		<div class="input-group form-group {% if profileForm.status.errors %} errors-group {% endif %}" {% if user|has_group:"Заказчик" %} style="display: none;" {% endif %}>
			<span class="input-group-addon">{{ profileForm.status.label_tag }}</span>

			<select name="{{ profileForm.status.html_name }}" class="form-control" id="{{ profileForm.status.id_for_label }}">
				{% for id, name in profileForm.status.field.choices %}
					<option value="{{ id }}" {% ifequal profileForm.instance.status.id id %} selected {% endifequal %}>{{ name }}</option>
				{% endfor %}
			</select>
		</div>
		{% if profileForm.status.errors %}
			<div class="errors">
				{% for err in profileForm.status.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</article>

	<article class="article summary">
		<h3>Изображение профиля</h3>
		<hr>

		<div class="form-group form-img {% if profileForm.image.errors %}errors-group{% endif %}">
			<div class="group-addon">
				<label for="{{ profileForm.image.id_for_label }}">
					{{ profileForm.image.label }}
				</label>
			</div>
			{% if profileForm.instance.image %}
				<img src="{{ profileForm.instance.image.url }}" alt="Изображение профиля">
			{% endif %}

			{% if profileForm.instance.image %}
				<div class="input-group">
					<input accept="image/jpeg,image/png,image/jpg" type="file" name="{{ profileForm.image.html_name }}" class="form-control" id="{{ profileForm.image.id_for_label }}">
					<span class="input-group-addon">
						<label for="{{ profileForm.image.html_name }}-clear_id">Очистить</label>
						<input type="checkbox" name="{{ profileForm.image.html_name }}-clear" id="{{ profileForm.image.html_name }}-clear_id">
					</span>
				</div>
			{% else %}
				<input accept="image/jpeg,image/png,image/jpg" type="file" name="{{ profileForm.image.html_name }}" class="form-control" id="{{ profileForm.image.id_for_label }}">
			{% endif %}
		</div>
		{% if profileForm.image.errors %}
			<div class="errors">
				{% for err in profileForm.image.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</article>

	<article class="article">
		<h3>Личная информация</h3>
		<hr>
		<div class="input-group form-group {% if userForm.first_name.errors %} errors-group {% endif %}">
			<span class="input-group-addon">{{ userForm.first_name.label_tag }}</span>
			<input type="text" name="{{ userForm.first_name.html_name }}" class="form-control" maxlength="{{ userForm.first_name.field.max_length }}" id="{{ userForm.first_name.id_for_label }}" placeholder="{{ userForm.first_name.label }}" value="{{ userForm.instance.first_name }}" required>
		</div>
		{% if userForm.first_name.errors %}
			<div class="errors">
				{% for err in userForm.first_name.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<div class="input-group form-group {% if userForm.last_name.errors %} errors-group {% endif %}">
			<span class="input-group-addon">{{ userForm.last_name.label_tag }}</span>
			<input type="text" name="{{ userForm.last_name.html_name }}" class="form-control" maxlength="{{ userForm.last_name.field.max_length }}" id="{{ userForm.last_name.id_for_label }}" placeholder="{{ userForm.last_name.label }}" value="{{ userForm.instance.last_name }}" required>
		</div>
		{% if userForm.last_name.errors %}
			<div class="errors">
				{% for err in userForm.last_name.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<div class="input-group form-group {% if profileForm.birthDate.errors %} errors-group {% endif %}">
			<span class="input-group-addon">{{ profileForm.birthDate.label_tag }}</span>
			<input type="text" name="{{ profileForm.birthDate.html_name }}" class="form-control date-input" id="{{ profileForm.birthDate.id_for_label }}" placeholder="{{ profileForm.birthDate.label }}" value="{{ profileForm.instance.birthDate|date:'d.m.Y' }}">
		</div>
		{% if profileForm.birthDate.errors %}
			<div class="errors">
				{% for err in profileForm.birthDate.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}

		<div class="input-group form-group {% if profileForm.town.errors %} errors-group {% endif %}">
			<span class="input-group-addon">{{ profileForm.town.label_tag }}</span>
			<select name="{{ profileForm.town.html_name }}" class="form-control" id="{{ profileForm.town.id_for_label }}">
				{% for id, name in profileForm.town.field.choices %}
					<option value="{{ id }}" {% ifequal profileForm.instance.town.id id %} selected {% endifequal %}>{{ name }}</option>
				{% endfor %}
			</select>
		</div>
		{% if profileForm.town.errors %}
			<div class="errors">
				{% for err in profileForm.town.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</article>

	<article class="article">
		<h3>Контактная информация</h3>
		<hr>
		<div class="input-group form-group {% if userForm.email.errors %} errors-group {% endif %}">
			<span class="input-group-addon">{{ userForm.email.label_tag }}</span>
			<input type="email" name="{{ userForm.email.html_name }}" class="form-control" maxlength="{{ userForm.email.field.max_length }}" id="{{ userForm.email.id_for_label }}" placeholder="{{ userForm.email.label }}" value="{{ userForm.instance.email }}" required>
		</div>
		{% if userForm.email.errors %}
			<div class="errors">
				{% for err in userForm.email.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<div class="input-group form-group {% if profileForm.phone.errors %} errors-group {% endif %}">
			<span class="input-group-addon">{{ profileForm.phone.label_tag }}</span>
			<input type="tel" name="{{ profileForm.phone.html_name }}" class="form-control" maxlength="{{ profileForm.phone.field.max_length }}" id="{{ profileForm.phone.id_for_label }}" placeholder="{{ profileForm.phone.label }}" value="{{ profileForm.instance.phone|default_if_none:'' }}">
		</div>
		{% if profileForm.phone.errors %}
			<div class="errors">
				{% for err in profileForm.phone.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<div class="input-group form-group {% if profileForm.url.errors %} errors-group {% endif %}">
			<span class="input-group-addon">{{ profileForm.url.label_tag }}</span>
			<input type="text" name="{{ profileForm.url.html_name }}" class="form-control" maxlength="{{ profileForm.url.field.max_length }}" id="{{ profileForm.url.id_for_label }}" placeholder="{{ profileForm.url.label }}" value="{{ profileForm.instance.url|default_if_none:'' }}">
		</div>
		{% if profileForm.url.errors %}
			<div class="errors">
				{% for err in profileForm.url.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</article>

	<article class="article">
		<div class="form-group tac">
			<button type="submit" class="btn btn-primary">Сохранить</button>
		</div>
	</article>

</form>