{% extends "base.html" %}
{% load static %}

{% block links %}

{% endblock links %}

{% block content %}

<div class="container profile-public">
	<div class="row">
		<aside id="sidebar_spy" class="hidden-xs col-sm-4 col-md-3 sidebar">
			<div class="navaffix" data-spy="affix" data-offset-top="90">
				<ul class="nav nav-stacked nav-sidebar">
					<li class="active">
						<a href="#profile"><i class="fa fa-address-card" aria-hidden="true"></i> Профиль</a>
					</li>
					<li>
						<a href="#specializations"><i class="fa fa-sitemap" aria-hidden="true"></i> Специализации</a>
					</li>
					<li>
						<a href="#summary"><i class="fa fa-id-card-o" aria-hidden="true"></i> Резюме</a>
					</li>
					<li>
						<a href="#portfolio"><i class="fa fa-picture-o" aria-hidden="true"></i> Портфолио</a>
					</li>
					<li>
						<a href="#reviews"><i class="fa fa-comments" aria-hidden="true"></i> Отзывы</a>
					</li>
					<li>
						<a href="#active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Активность</a>
					</li>
				</ul>
			</div>
		</aside>
		<section class="col-xs-12 col-sm-8 col-md-9" style="margin-bottom: 20px;">
			<div id="profile">
				<h3>Профиль</h3>
				<hr>
				<div class="row">
					<div class="col-sm-4">
						{% if profile.image %}
							<img src="{{ profile.image.url }}" class="public-profile-image" alt="Изображение профиля">
						{% else %}
							<div class="public-profile-image">
								<i class="fa fa-user-secret" aria-hidden="true"></i>
							</div>
						{% endif %}
					</div>
					<div class="col-sm-8 profile-public-description">
						<div class="row">
							<div class="col-sm-6">
								<i class="fa fa-user" aria-hidden="true"></i> {{profile.user.last_name}} {{profile.user.first_name}}
							</div>
							<div class="col-sm-6">
								<i class="fa fa-ticket" aria-hidden="true"></i> {{profile.status}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<i class="fa fa-flag" aria-hidden="true"></i> {{profile.town}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="specializations">
				<h3>Специализации</h3>
				<hr>
				<strong>Основная специализация: </strong> {{profile.specialization}}

				{{specializations}}
			</div>
			<div id="summary">
				<h3>Резюме</h3>
				<hr>
				{{profile.summary}}
			</div>
			<div id="portfolio">
				<h3>Портфолио</h3>
				<hr>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nostrum deleniti, natus consequatur velit repellat quibusdam, molestias nobis cumque labore repellendus nam doloribus sequi, aspernatur asperiores, illum maiores vel porro soluta accusantium ex iusto harum mollitia! Nobis deserunt facere nesciunt fuga quia illum, tempora rem est, beatae odio consequatur nisi aperiam optio possimus in molestiae dolore magni veritatis, eius laboriosam quaerat, tempore illo! Ipsa repellendus sapiente, quibusdam ea neque quae debitis, facere alias dolorem minima animi voluptas consequatur! Quia aspernatur, blanditiis vel veritatis, ipsum voluptatibus est necessitatibus at fuga alias quas, modi tempore nam repellendus magni dolorem hic autem atque delectus facere, impedit tenetur excepturi aliquid illo. Et asperiores vitae, rem, quisquam recusandae magnam consectetur possimus? Quae alias assumenda velit ipsa perspiciatis nisi sapiente impedit, repellendus debitis dolore veritatis accusamus, illum explicabo eum quis, aut ex magnam unde sit. Esse, natus, animi. Nostrum ducimus asperiores omnis laudantium aliquid assumenda, sequi vero reprehenderit modi unde doloremque voluptates. Sint incidunt culpa, sunt voluptatem tenetur dolores aspernatur tempora quod rerum! Fugiat aperiam corporis culpa placeat consectetur, nisi cum minus esse voluptatibus corrupti sequi veritatis debitis officiis ratione odio molestias assumenda dicta laboriosam quas suscipit veniam odit velit voluptas. Accusantium ut deserunt unde quam optio commodi assumenda maiores ad velit ea repellendus consequuntur nisi voluptates similique, numquam in minus et culpa atque. Est quo labore sunt et dignissimos provident tempore delectus alias explicabo omnis, eaque, fugiat impedit nihil velit fuga accusantium! Accusantium iusto modi porro at, atque ipsam nam adipisci dolorem quidem, magni laborum est minus fugit ipsa explicabo ratione! Earum dolore autem possimus ea deleniti blanditiis, nobis nihil molestias modi maxime vitae vero, quis recusandae nam non temporibus et iste facere laudantium eos iusto unde quae, inventore? Rerum quisquam, quo, nesciunt ex obcaecati impedit! Tempora pariatur in rem iusto id nesciunt placeat et.
			</div>
			<div id="reviews">
				<h3>Отзывы</h3>
				<hr>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nostrum deleniti, natus consequatur velit repellat quibusdam, molestias nobis cumque labore repellendus nam doloribus sequi, aspernatur asperiores, illum maiores vel porro soluta accusantium ex iusto harum mollitia! Nobis deserunt facere nesciunt fuga quia illum, tempora rem est, beatae odio consequatur nisi aperiam optio possimus in molestiae dolore magni veritatis, eius laboriosam quaerat, tempore illo! Ipsa repellendus sapiente, quibusdam ea neque quae debitis, facere alias dolorem minima animi voluptas consequatur! Quia aspernatur, blanditiis vel veritatis, ipsum voluptatibus est necessitatibus at fuga alias quas, modi tempore nam repellendus magni dolorem hic autem atque delectus facere, impedit tenetur excepturi aliquid illo. Et asperiores vitae, rem, quisquam recusandae magnam consectetur possimus? Quae alias assumenda velit ipsa perspiciatis nisi sapiente impedit, repellendus debitis dolore veritatis accusamus, illum explicabo eum quis, aut ex magnam unde sit. Esse, natus, animi. Nostrum ducimus asperiores omnis laudantium aliquid assumenda, sequi vero reprehenderit modi unde doloremque voluptates. Sint incidunt culpa, sunt voluptatem tenetur dolores aspernatur tempora quod rerum! Fugiat aperiam corporis culpa placeat consectetur, nisi cum minus esse voluptatibus corrupti sequi veritatis debitis officiis ratione odio molestias assumenda dicta laboriosam quas suscipit veniam odit velit voluptas. Accusantium ut deserunt unde quam optio commodi assumenda maiores ad velit ea repellendus consequuntur nisi voluptates similique, numquam in minus et culpa atque. Est quo labore sunt et dignissimos provident tempore delectus alias explicabo omnis, eaque, fugiat impedit nihil velit fuga accusantium! Accusantium iusto modi porro at, atque ipsam nam adipisci dolorem quidem, magni laborum est minus fugit ipsa explicabo ratione! Earum dolore autem possimus ea deleniti blanditiis, nobis nihil molestias modi maxime vitae vero, quis recusandae nam non temporibus et iste facere laudantium eos iusto unde quae, inventore? Rerum quisquam, quo, nesciunt ex obcaecati impedit! Tempora pariatur in rem iusto id nesciunt placeat et.
			</div>
			<div id="active">
				<h3>Активность</h3>
				<hr>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nostrum deleniti, natus consequatur velit repellat quibusdam, molestias nobis cumque labore repellendus nam doloribus sequi, aspernatur asperiores, illum maiores vel porro soluta accusantium ex iusto harum mollitia! Nobis deserunt facere nesciunt fuga quia illum, tempora rem est, beatae odio consequatur nisi aperiam optio possimus in molestiae dolore magni veritatis, eius laboriosam quaerat, tempore illo! Ipsa repellendus sapiente, quibusdam ea neque quae debitis, facere alias dolorem minima animi voluptas consequatur! Quia aspernatur, blanditiis vel veritatis, ipsum voluptatibus est necessitatibus at fuga alias quas, modi tempore nam repellendus magni dolorem hic autem atque delectus facere, impedit tenetur excepturi aliquid illo. Et asperiores vitae, rem, quisquam recusandae magnam consectetur possimus? Quae alias assumenda velit ipsa perspiciatis nisi sapiente impedit, repellendus debitis dolore veritatis accusamus, illum explicabo eum quis, aut ex magnam unde sit. Esse, natus, animi. Nostrum ducimus asperiores omnis laudantium aliquid assumenda, sequi vero reprehenderit modi unde doloremque voluptates. Sint incidunt culpa, sunt voluptatem tenetur dolores aspernatur tempora quod rerum! Fugiat aperiam corporis culpa placeat consectetur, nisi cum minus esse voluptatibus corrupti sequi veritatis debitis officiis ratione odio molestias assumenda dicta laboriosam quas suscipit veniam odit velit voluptas. Accusantium ut deserunt unde quam optio commodi assumenda maiores ad velit ea repellendus consequuntur nisi voluptates similique, numquam in minus et culpa atque. Est quo labore sunt et dignissimos provident tempore delectus alias explicabo omnis, eaque, fugiat impedit nihil velit fuga accusantium! Accusantium iusto modi porro at, atque ipsam nam adipisci dolorem quidem, magni laborum est minus fugit ipsa explicabo ratione! Earum dolore autem possimus ea deleniti blanditiis, nobis nihil molestias modi maxime vitae vero, quis recusandae nam non temporibus et iste facere laudantium eos iusto unde quae, inventore? Rerum quisquam, quo, nesciunt ex obcaecati impedit! Tempora pariatur in rem iusto id nesciunt placeat et.
			</div>
		</section>
	</div>
</div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}