{% load auth_extras %}
{% load split_filter %}
{% load define %}
{% load specializationGroup %}

<form class="ajax" method="POST">

	{% csrf_token %}

	<article class="article summary">
		<h3>Основная специализация</h3>
		{% if messages %}
			<div class="container-alert">
				{% for message in messages %}
					<div class="alert-message alert {% if message.tags %}alert-{{message.tags}}{% endif %}">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<hr>
		<div class="input-group form-group {% if specializationForm.specialization.errors %} errors-group {% endif %}">
			<span class="input-group-addon">{{ specializationForm.specialization.label_tag }}</span>
			<select name="{{ specializationForm.specialization.html_name }}" class="select-2 form-control" id="{{ specializationForm.specialization.id_for_label }}">
				{% for id, name in specializationForm.specialization.field.choices %}
					{% if id %}
						{% ifchanged id|get_group  %}
							{% if forloop.counter != 2 %}
								</optgroup>
							{% endif %}
								<optgroup label="{{ id|get_group }}">
						{% endifchanged %}
						<option value="{{ id }}" {% ifequal specializationForm.instance.specialization.id id %} selected {% endifequal %}>{{ name|string_after:'|' }}</option>
					{% else %}
						<option value {% ifequal specializationForm.instance.specialization.id id %} selected {% endifequal %}>{{ name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		{% if specializationForm.specialization.errors %}
			<div class="errors">
				{% for err in specializationForm.specialization.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		<h3>Специализации</h3>
		<hr>
		{% if specializationForm.specializations.errors %}
			<div style="text-align: center;">
				{% for err in specializationForm.specializations.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
		{% define 0 as count %}

		<div class="row specializations">
			{% for item in specializationForm.specializations %}
				{% ifchanged item.data.value|get_group  %}
					{% if forloop.counter != 1 %}
						</div>
						{% if count|divisibleby:3 %}<div class="visible-md visible-lg clearfix"></div>{% endif %}
					{% endif %}

					<div class="col-md-4">
						<h4 class="group-name">{{ item.data.value|get_group }}</h4>
						{% define count|add:1 as count %}
				{% endifchanged %}

				<label class="btn btn-info check">
					<input type="checkbox" name="{{ item.data.name }}" value="{{ item.data.value }}" id="{{ item.data.attrs.id }}" {% if item.data.attrs.checked %} checked{% endif %}> <span class="name">{{ item.data.label|string_after:'|' }}</span>
				</label>
			{% endfor %}
		</div></div><hr>
	</article>

	<article class="article">
		<div class="form-group tac">
			<button type="submit" class="btn btn-primary">Сохранить</button>
		</div>
	</article>
</form>