{% load auth_extras %}

<form class="ajax" method="POST">

	{% csrf_token %}

	<article class="article summary">
		<h3>Резюме</h3>
		{% if messages %}
			<div class="container-alert">
				{% for message in messages %}
					<div class="alert-message alert {% if message.tags %}alert-{{message.tags}}{% endif %}">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<hr>
		<div class="form-group {% if summaryForm.summary.errors %} errors-group {% endif %}">
			<div class="group-addon">
				<label for="{{ summaryForm.summary.id_for_label }}">
					{{ summaryForm.summary.label }}
				</label>
			</div>
			<textarea name="{{ summaryForm.summary.html_name }}" class="form-control" id="{{ summaryForm.summary.id_for_label }}" placeholder="{{ summaryForm.summary.label }}" required>{{ summaryForm.instance.summary|default_if_none:'' }}</textarea>
		</div>
		{% if summaryForm.summary.errors %}
			<div class="errors">
				{% for err in summaryForm.summary.errors %}
					<strong class="text-danger">{{ err }}</strong>
				{% endfor %}
			</div>
		{% endif %}
	</article>

	<article class="article">
		<div class="form-group tac">
			<button type="submit" class="btn btn-primary">Сохранить</button>
		</div>
	</article>
</form>