{% extends "base.html" %}

{% block content %}

<div class="container block-login">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">

			{% if not user.is_authenticated %}
				<h2 class="tac">Авторизация</h2>
			{% else %}
				<h2 class="tac">Вы уже авторизованы</h2>
			{% endif %}

			{% if messages %}
				<div class="container-alert">
					{% for message in messages %}
						<div class="alert-message alert alert-slide-up {% if message.tags %}alert-{{message.tags}}{% endif %}">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<p>{{ message }}</p>
						</div>
					{% endfor %}
				</div>
			{% endif %}

			{% if form.errors %}
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Неверный логин или пароль</strong>. Пожалуйста, попробуйте еще раз.
				</div>
			{% endif %}

			{% if next %}
				{% if user.is_authenticated %}
					<div class="alert alert-danger alert-dismissable">
						Недостаточно прав для просмотра страницы
					</div>
					{% else %}
					<div class="alert alert-danger alert-dismissable">
						Для просмотра этой страницы нужна авторизация
					</div>
				{% endif %}
			{% endif %}

			{% if not user.is_authenticated %}

				<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
					<div class="form-group">
						{{ form.username.label_tag }}
						<input type="text" name="{{ form.username.html_name }}" class="form-control" maxlength="{{ form.username.field.max_length }}" id="{{ form.username.id_for_label }}" placeholder="{{ form.username.label }}" required>
					</div>
					<div class="form-group">
						{{ form.password.label_tag }}
						<input type="password" name="{{ form.password.html_name }}" class="form-control" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}" required>
					</div>
					<div class="form-group tac">
						<a href="{% url 'password_reset' %}">Забыли пароль?</a>
					</div>
					<div class="form-group tac">
						<button type="submit" class="btn btn-primary">Войти</button>
						<input type="hidden" name="next" value="{{ next }}" />
					</div>
				</form>

			{% else %}
				<div class="form-group tac">
					<a href="/" class="btn btn-primary">На главную</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}