{% extends "base.html" %}

{% block content %}

<div class="container block-login">
	<div class="row">
		<div class="col-xs-12">

			{% if messages %}
				<div class="container-alert">
					{% for message in messages %}
						<div class="alert-message alert alert-slide-up {% if message.tags %}alert-{{message.tags}}{% endif %}">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<p>{{ message }}</p>
						</div>
					{% endfor %}
				</div>
			{% endif %}

			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified">
				<li {% ifequal active_tab 'customer' %} class="active" {% endifequal %}>
					<a href="#customer" data-toggle="tab">Заказчик</a>
				</li>
				<li {% ifequal active_tab 'performer' %} class="active" {% endifequal %}>
					<a href="#performer" data-toggle="tab">Исполнитель</a>
				</li>
			</ul>

				<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane {% ifequal active_tab 'customer' %} active {% endifequal %}" id="customer">
					<h3 class="tac">Регистрация как заказчика</h3>
					<hr>
					{% include "registration/inc/form_customer.html" %}
				</div>
				<div class="tab-pane {% ifequal active_tab 'performer' %} active {% endifequal %}" id="performer">
					<h3 class="tac">Регистрация как исполнителя</h3>
					<hr>
					{% include "registration/inc/form_performer.html" %}
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock content %}