{% extends "admin/base.html" %}
{% load static %}'

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
	<link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon" sizes="48x48">
{% endblock %}
{% block branding %}
	<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}