{% extends "base.html" %}
{% load static %}

{% block content %}

{% if messages %}
	<div class="container-alert">
		{% for message in messages %}
			<div class="alert-message alert alert-slide-up {% if message.tags %}alert-{{message.tags}}{% endif %}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{ message }}</p>
			</div>
		{% endfor %}
	</div>
{% endif %}
<div class="container-fluid block firs-block">
	<section class="container section-first">
		<h2>Желаете сделать ремонт, но не знаете кому доверять?</h2>
		<h1>Проверенные исполнители ждут вас!</h1>
		<a class="btn btn-primary btn-ispoln" href="{% url 'addProject' %}">Найти исполнителя</a>
	</section>
</div>
<div class="container-fluid block">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="tac" style="margin-bottom: 20px;">Почему мы?</h2>
			</div>
			<div class="col-sm-offset-1 col-sm-4 tac">
				<img src="{% static "img/ico-2.png" %}" alt="" style="width: 50%;">
				<h4>Проверенные исполнители</h4>
				<p>
					Отзывы других заказчиков о выполненных проектах, проверенные данные исполнителей.
				</p>
			</div>
			<div class="col-sm-offset-2 col-sm-4 tac">
				<img src="{% static "img/ico-3.png" %}" alt=""  style="width: 50%;">
				<h4>Мощная платформа</h4>
				<p>
					В вашем распоряжении удобная система личных сообщений, форум проекта, вложения и другие инструменты.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock content %}