{% extends "base.html" %}
{% load static %}

{% block links %}
{% endblock links %}

{% block content %}

<div class="container profile">
		<section class="col-xs-12 col-sm-12 col-md-12">
			{% for u in users %}
				<div class="row">
					<div class="col-md-2">
						{{ forloop.counter }}
					</div>
					<div class="col-md-2">
						{% if u.userprofile.image %}
							<img src="{{ u.userprofile.image.url }}" class="">
						{% else %}
							<div class="">
								<i class="fa fa-user-secret" aria-hidden="true"></i>
							</div>
						{% endif %}
					</div>
					<div class="col-md-2">
						{% if u.userprofile.image %}
							<img src="{{ u.userprofile.image.url }}" class="">
						{% else %}
							<div class="">
								<i class="fa fa-user-secret" aria-hidden="true"></i>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</section>
	</div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}