{% extends "base.html" %}
{% load static %}

{% block links %}
{% endblock links %}

{% block content %}

<div class="container profile">
	<div class="row">
		<aside class="hidden-xs col-sm-4 col-md-3 profile-nav sidebar">
			<ul class="nav nav-sidebar">
				<li class="{% if active == 'Personal' %} active {% endif %}">
					<a href="{% url 'profilePersonal' %}"><i class="fa fa-address-card" aria-hidden="true"></i> Личная информация</a>
				</li>
				<li class="message-count-container {% if active == 'Messages' %}active{% endif %}">
					<a href="{% url 'messages' %}"><i class="fa fa-envelope" aria-hidden="true"></i>
						Сообщения
					</a>
				</li>
				<li class="{% if active == '' %} active {% endif %}">
					<a href="#"><i class="fa fa-building-o" aria-hidden="true"></i> Мои проекты</a>
				</li>
				<li class="{% if active == '' %} active {% endif %}">
					<a href="#"><i class="fa fa-television" aria-hidden="true"></i> Просмотр профиля</a>
				</li>
				<li class="{% if active == '' %} active {% endif %}">
					<a href="#"><i class="fa fa-comments" aria-hidden="true"></i> Отзывы</a>
				</li>
				<li class="{% if active == '' %} active {% endif %}">
					<a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Настройки</a>
				</li>
			</ul>
		</aside>
		<section class="col-xs-12 col-sm-8 col-md-9 form-include">
{# 			{% include template_inc %} #}

		</section>
	</div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}