/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.nav>li>a{
		padding-left: 5px;
		padding-right: 5px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.section-first{
		padding-top: 10vw;
	}

	.copyright{
		text-align: center;
	}
	.navbar.navbar-default{

		position:  fixed;
		left:  0;
		right:  0;
		top: 0;
		z-index:  98;

	}
	.navbar-nav>li>.dropdown-menu{
		position:  static;
		display:  block;
		float:  none;
		border:  0;
		box-shadow:  none;
	}
	.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background: lavenderblush;
	}
	.navbar-default .navbar-toggle{
		border:0;
		padding: 0;
		float: none;
		border-radius: 50%;
		border: 1px solid white;
		margin: 14px;
		overflow: hidden;
	}
	.profile-image{
		padding: 5px;
	}
	img.profile-image{
		padding: 0;
	}
	.navbar-default .navbar-toggle .profile-image i{
		color: black;
	}
	.navbar-default .navbar-toggle .profile-image{
		margin: 0;
	}
	.logo{
		float: right;
	}
	.logo img{
		width: 80px;
		margin-top: 5px;
	}
	.navbar-header{
		position: relative;
	}
	.fa.fa-bars{
		position: absolute;
		top: 52px;
		left: 52px;
		color: white;
	}
	main.content{
		margin-top: 100px;
	}
	.navbar-nav{
		padding: 0 15px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-nav .dropdown li a{
		padding: 10px 5px;
		font-weight: 700;
	}
	.navbar-nav .dropdown .dropdown-menu{
		margin-top: 0;
		padding: 0;
	}
	.article .input-group.form-group{
		display: block;
	}
	.article .input-group.form-group .input-group-addon{
		display: block;
		width: 100%;
		border: 1px solid #ccc;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 0;
	}
	.article .input-group.form-group input, .article .input-group.form-group select{
		display: block;
		float: none;
		border-radius: 0;
	}
	.article h3{
		text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.message .text-container .dialog .name h3{
		font-size: 17px;
		margin-bottom: 5px;
	}
	.message .message-image-container .fa-user-secret{
		font-size: 60px;
	}
	.message .text-container .dialog .text{
		line-height: 17px;
	}

	.message .text-container .dialog{
		padding-left: 10px;
	}
	.message .message-image-container img{
		width: 60px;
		height: 60px;
	}
	.btn-message-app{
		width: 100%;
		margin-bottom: 5px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navbar-nav>li>a {
		font-size: 13px;
		margin: 20px 5px;
		padding-top: 12px;
		padding-bottom: 12px;
		border-radius: 10px;
	}
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
	.single-project .header .href-image{
		width: 80px;
		height: 80px;
	}
	.single-project .header .images .href-image .plus{
		padding-top: 28px;
		font-size: 20px;
	}

	.navaffix.affix{
		width: 220px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 991px) {
	.navaffix.affix{
		width: 212.500px;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.navaffix.affix{
		top: 20px;
		width: 262.500px;
	}
}