.content{
	min-height: 100vh;
	/*margin-bottom: 15px;*/
}

.logo img{
	width: 80px;
	margin: 0 10px;
	margin-top: 9px;
}

.navbar-toggle{
	margin-top: 23px;
}

.firs-block{
	background-image: url(../img/bg-first-block.jpg);
	height: 500px;
	margin-top: -20px;
}

.block{
	padding-bottom: 15px;
}
.section-first{
	background-color: rgba(255,255,255, .5);
	text-align: center;
	border-radius: 5px;
	height: 90%;
	margin-top: 20px;
	padding-top: 120px;
}

.content .block:nth-child(even){
	background-color: #EDEEF0;
}

.btn-ispoln{
	font-size: 18px;
	margin-top: 15px;
	padding: 20px 30px;
}

.navbar-default {
	background-color: #286090;
	border-color: #286090;
	border-radius: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #fff;
	border-color: #fff;
	color: #286090;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-weight: 700;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: #286090;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #fff;
}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{
	background-color: black;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color: #fff;
	border-color: #fff;
	color: #286090;
}

.footer-bottom{
	background-color: #286090;
	border-color: #286090;
	border-radius: 0;

	color: #fff;

	padding-top: 35px;
	padding-bottom: 30px;
}

.tac{
	text-align: center;
}

.block-login h2{
	margin-top: 70px;
}

.profile-image{
	width: 50px;
	height: 50px;
	margin: 15px 0;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}

.profile-image i{
	font-size: 50px;
	color: #fff;
}

.navbar-default .navbar-nav>li>a.profile-link{
	display: inline-block;
}

.dropdown-menu{
	background-color: #286090;
}

.dropdown-menu>li>a{
	color: #fff;
}

.profile-nav{
	background-color: #f8f8f8;
}
.profile label{
	margin: 0;
}
.profile > .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.profile .article img{
	width: 30%;
	display: block;
	margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.summary .group-addon{
	border: 1px solid #ccc;
	border-radius: 4px 4px 0px 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
}
.summary .group-addon label{
	display: block;
	padding: 12px;
}
.summary textarea{
	border-radius: 0px 0px 4px 4px;
	width: 100%;
	min-height: 300px;
	resize: vertical;
}

.portfolio-card, .portfolio-card-single{
	margin: 10px 0;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 15px;
}

.portfolio-card-single{
	padding: 0;
	border-radius: 10px;
}

.portfolio-card-single .card-header{
	border: 1px solid #e4e4e4;
	border-top: none;
	border-right: none;
	border-left: none;
	background: #FAFAFA;
	padding: 15px;
}

.portfolio-card .container-img{
	text-align: center;
	padding: 15px;
}

.portfolio-count{
	text-align: right;
}

.portfolio-count .badge{
	background-color: #337ab7;
}
.portfolio-card-single .project-name{
	text-align: center;
	margin: 0;
}

.portfolio-card-single img{
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.portfolio-card-single .btn-success{
	display: block;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.portfolio-card img{
	width: 70%;
}

.btn-show{
	float: right;
}

hr.heavy{
	height: 3px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiâ€¦pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f5f5f5),color-stop(100%,#ededed));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#ededed);
	background-image: linear-gradient(top,#f5f5f5,#ededed);
	border-radius: 3px;
	border: 1px solid #e2e2e2;
}

.pagination-container{
	text-align: center;
}
.portfolio-not-found{
	text-align: center;
	margin: 100px 0;
	font-size: 40px;
}

.nav-sidebar > .active > a {
	color: #fff;
	background-color: #428bca !important;
}

.portfolio-card .btn-copy-container{
	text-align: right;
}

.container-alert{
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 99
}

.alert-copy{
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 99
}

.alert-message{

	border-left-width: 7px;
	border-left-color: gray;

}

.alert-message.alert-success{
	border-left-color: #008000 !important;
}

.alert-message.alert-danger{
	border-left-color: #a94442 !important;
}

.form-img{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 4px;
}

.inline-form td{
	text-align: center;
	vertical-align: middle !important;
}

.table th{
	text-align: center;
}

.file-link a{
	font-size: 25px;
}

.specializations{
	text-align: center;
}

.specializations .name{
	vertical-align: text-bottom;
}

.specializations .check{
	display: block;
	margin: 5px;
}

.loader-container{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 90;
	background-color: rgba(40, 96, 144, .8);
	display: none;
}
.loader-container.flex{
	display: flex;
	align-items: center;
}

.loader,
.loader:before,
.loader:after {
	background: #ffffff;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: #ffffff;
	text-indent: -9999em;
	margin: 0 auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

.portfolio-form-name{
	margin-bottom: 10px;
	margin-top: 20px;
}

.portfolio-form-name h3{
	margin: 0;
}

.errors{
	border: 1px solid #ccc;
	border-top: 0;
	background: #eee;
	padding: 5px;
	margin-bottom: 15px;
}

.errors-group{
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.errors-group .input-group-addon{
	border-bottom-left-radius: 0 !important;
}

.errors-group .form-control{
	border-bottom-right-radius: 0 !important;
}

aside.profile-nav.sidebar{
	padding: 0;
}
.nav.nav-sidebar li a{
	padding-left: 15px;
	padding-right: 15px;
}

.message{

	margin: 5px 10px;
	border: 1px solid #BEC8D3;
		display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: stretch ;
}

.message .message-image-container{
	text-align: center;
	border-right: 1px solid #BEC8D3;
	padding: 0;
}

.message .message-image-container img{
	width: 80px;
	height: 80px;
}

.message .message-image-container .fa-user-secret{
	font-size: 80px;
}

.message a{
	display: block;
}

.message .message-image-container .href-img{
	padding: 5px 15px;
	color: #000;
}

.message a:hover{
	background-color: #F5F7FA;
}

.message .text-container .dialog{
	text-decoration: none !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-left: 20px;
	color: #000;
	overflow: hidden;
}
.message .text-container .dialog .name h3{
	margin-top: 10px;
}
.message .text-container .dialog .text{
	color: #656565;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.message .text-container .dialog .count{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	background-color: #5cb85c;
	opacity: 0.8;
}

.message .text-container{
	position: relative;
}

.message .text-container .you{
	color: #8b939b;
}

.select2{
	width: 100% !important;
}

.select2-container .select2-selection--single{
	height: auto;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-color: #ccc;
}
.errors-group .select2-container .select2-selection--single{
	border-bottom-right-radius: 0;
}

.message-app{
	margin-right: 0;
	margin-left: 0;
	border: 1px solid #e1e1e1;
}

.message-app .message-sidebar{
	background-color: #F7F7FA;
	border-bottom: 1px solid #e1e1e1
}

.message-app .message-sidebar .message-sidebar-container{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.message-app .message-sidebar .message-sidebar-container .profile-link{
	display: flex;
	text-decoration: none;
	color: #000;
}

.message-app .message-sidebar .message-sidebar-container .profile-link .profile-img{
	width: 60px;
	height: 60px;
}

.message-app .message-sidebar .message-sidebar-container .profile-link .fa-user-secret{
	font-size: 60px;
}
.message-app .message-sidebar .message-sidebar-container .profile-link .text{
	display: inline-block;
	margin-left: 10px;
}
.message-app .message-sidebar .message-sidebar-container .profile-link .text .name{
	color: #428BCA;
	font-weight: 700;
}

.message-app .message-sidebar .message-sidebar-container .profile-link .text .town{
	padding-top: 5px;
}

.message-app .message-toolbar{
	background-color: #F7F7FA;
	border-top: 1px solid #e1e1e1;
	padding-top: 10px;
	padding-bottom: 10px;
}

.message-app .message-toolbar .message-input{
	resize: none;
	width: 100%;
	padding: 5px 15px;
	border-radius: 2px;
	outline: 0;
	line-height: 20px;
	-webkit-box-shadow: inset 0 1px 1px rgba(142,142,142,.2);
	box-shadow: inset 0 1px 1px rgba(142,142,142,.2);
}

.message-count-container{
	position: relative;
}

.message-count-container .count-message{
	position: absolute;
	right: 10px;
	top: 10px;
}

.message-app .messages-list{
	min-height: 400px;
	max-height: 500px;
	padding-right: 0;
	padding-left: 0;
	overflow-y: hidden;
}

.message-app .messages-list .message-item {
	margin: 15px;
}

.message-app .messages-list .message-item .text{
	background-color: #F0F0F0;
	padding: 10px;
	display: inline-block;
	border-radius: 8px;
}

.message-app .messages-list .message-item .text .user{
	font-weight: 700;
	display: inline-block;
	margin-bottom: 5px;
}

.message-app .messages-list .message-item.my{
	display: flex;
	justify-content: flex-end;
}

.message-app .messages-list .message-item.my .text{
	background-color: #00AAFF;
	color: #fff;
}
.message-app .messages-list .massage-day{
	margin: 20px 0;
	text-align: center;
	color: #858585;
}

.message-app .message-toolbar form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.message-app .message-toolbar form .button{
	background: transparent;
	border: 0;
	outline: 0;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 20px;
	opacity: 0.7;
}

.message-app .message-toolbar form .button:hover{
	opacity: 1;
}

.message-app .message-toolbar form .smile{
	margin-right: 6px;
}

.message-app .message-toolbar form .send{
	margin-left: 6px;
}

.count-message-nav{
	position: absolute;
	left: 35px;
	bottom: 15px;
	background-color: #5cb85c;
}

.count-message-nav-right{
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: #5cb85c;
	cursor: pointer;
}
.fa.fa-bars{
	cursor: pointer;
}

.count-message{
	background-color: #5cb85c;
}

.modal-title{
	font-weight: 700;
}

.modal {
	text-align: center;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.single-project{
	border: 1px solid #ccc;
	border-radius: 4px;
}

.single-project .header{
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.single-project .header .name{
	background-color: #EEEEEE;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.single-project .header .name h2{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
}

.single-project .header .href-front-image{
	width: 70%;
	display: inline-block;
	outline: 0;
	border-radius: 5px;
	position: relative;
}

.single-project .header .href-front-image .plus{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding-top: 25%;
	border-radius: 5px;
	color: white;
	font-size: 50px;
	opacity: 0;
	background-color: rgba(0,0,0, .7);
	transition: opacity .5s;
}

.single-project .header .href-front-image:hover .plus{
	opacity: 1;

}

.single-project .header .href-front-image .front-image{
	width: 100%;
}

.single-project .header .images{
	text-align: center;
	margin-top: 15px;
}

.single-project .header .href-image{
	display: inline-block;
	width: 60px;
	margin: 0 10px;
	height: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: center;
	position: relative;
	border-radius: 10px;
	outline: 0;
}

.single-project .header .images .href-image .plus{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding-top: 20px;
	background-color: rgba(0,0,0, .7);
	border-radius: 10px;
	color: white;
	opacity: 0;
	transition: opacity .5s;
}

.single-project .header .href-image:hover .plus{
	opacity: 1;
}

.hr-portfolio{
	margin-top: 7px;
}

.single-project .main{
	background-color: #EEEEEE;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.single-project .main .description{
	padding: 0 10px;
}

.single-project .files{
	background-color: #EEEEEE;
	padding: 10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.single-project .files a{
	padding: 0 5px;
	display: inline-block;
	font-size: 25px;
}

.projectForm label{
	margin: 0;
}

.my-help-block{
	margin-left: 5px;
}

.projectForm .mb{
	margin-bottom: 0;
}

.di{
	display: inline;
}

.myProject .card{
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #EEEEEE;
	background-color: #F8F8F8;
}
.myProject .card .row{
	display: flex;
	align-items: center;
}

.myProject .card .row .money{
	font-size: 20px;
}

.myProject .card .alert{
	margin-bottom: 0;
	position: relative;
}
.myProject .card .alert .btn{
	position: absolute;
	right: 5px;
	top: 8px;
}

.mr{
	margin-right: 10px;
}

.tooltip-span:hover{
	cursor: default;
}

.project .card{
	border: 1px solid #DDDDDD;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-radius: 5px;
	background: #F8F8F8;
}

.project .card .content-card{
	padding-left: 10px;
	padding-right: 10px;
}
.project .card .content-card .btn{
	width: 100%;
}

.project .description{
	background: #F8F8F8;
	padding: 30px 20px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
}

.project .card .header-card{
	color: #707083;
	padding: 13px;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #b4b4bf;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#e5e5e9), color-stop(1, #fbfbfc));
}

.project .card .content-card .fa-user-secret{
	color: #000;
}

.project .card .content-card .profile-image{
	margin: 0;
	margin-right: 2px;
}
.project .card .content-card.personal{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.project .rates{
	margin-top: 20px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding: 10px;
	background: #F8F8F8;
}

.project .rates .list .rate-card .rate-image{
	text-align: center;
}

.project .rates .list .rate-card .rate-image i{
	color: #000;
}

.project .rates form{
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
}

.project .rates .header-card{
	text-align: center;
}

.mhr{
	margin-top: 10px;
	margin-bottom: 10px;
}

.project .rates .list .rate-card{
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
	margin-bottom: 10px;
}

.project .rates .list .rate-card .toolbar{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.project .rates .list .rate-card .toolbar .btn-container{
	text-align: right;
}

.project .rates .list .rate-card .toolbar .btn-container .performer{
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	border-radius: 5px;
}

.project .rates .list .btn-login{
	display: block;
	margin: auto;
	width: 100px;
}

.project .alert-danger.single-project{
	position: relative;
}

.project .alert-danger.single-project .btn{
	position: absolute;
	right: 5px;
	top: 8px;
}

.project .blockHeadArrow{
	cursor: default !important;
}

.contArrow.nav-tabs>li.active>a.red:after{
	color: #C9302C;
}

.contArrow.nav-tabs>li.active>a.red,
.contArrow.nav-tabs>li.active>a.red:focus,
.contArrow.nav-tabs>li.active>a.red:hover{
	background-color: #C9302C;
}

.contArrow.nav-tabs>li.active>a.green:after{
	color: #449d44;
}

.contArrow.nav-tabs>li.active>a.green,
.contArrow.nav-tabs>li.active>a.green:focus,
.contArrow.nav-tabs>li.active>a.green:hover{
	background-color: #449d44;
}

.myReviews .rate-image{
	text-align: center;
}
.myReviews .rate-card{
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border: 1px solid #DDDDDD;
	border-radius: 7px;
	background: #F8F8F8;
	padding-right: 10px;
}

.myReviews .alert-info>.row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.tar{
	text-align: right;
}

.rating-container{
	display: flex;
	align-items: center;
}

.name-rating {
	display: inline-block;
	font-size: 23px;
	margin-right: 10px;
}

.rating {
	display: inline-block;
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
}

.rating label {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}

.rating label:last-child {
	position: static;
}

.rating label:nth-child(1) {
	z-index: 5;
}

.rating label:nth-child(2) {
	z-index: 4;
}

.rating label:nth-child(3) {
	z-index: 3;
}

.rating label:nth-child(4) {
	z-index: 2;
}

.rating label:nth-child(5) {
	z-index: 1;
}

.rating label input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.rating label .icon {
	float: left;
	color: transparent;
}

.rating label:last-child .icon {
	color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
	color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
	color: #000;
	text-shadow: 0 0 5px #09f;
}

.navaffix{
	background-color: #f8f8f8;
}
.navaffix.affix{
	top: 20px;
}

.profile-public img.public-profile-image{
	width: 100%;
}

.profile-public .public-profile-image{
	font-size: 150px;
	text-align: center;
}

.profile-public .profile-public-description{
	font-size: 18px;
}

.profile-public .profile-public-description .row:first-child{
	margin-bottom: 20px;
}