{% load auth_extras %}

{% if user.is_authenticated%}
	{% if request.user|has_group:"Исполнитель" and flagRate %}
		{% if not project.performer and project.status.id < 3 %}
			<form method="POST" class="projectForm">
				{% csrf_token %}
				<article class="row">
					<div class="col-md-6 col-xs-12">
						<div class="input-group form-group {% if rateForm.money.errors %} errors-group {% endif %}">
							<span class="input-group-addon">{{ rateForm.money.label_tag }}</span>
							<input type="number" step="1000" min="1000" name="{{ rateForm.money.html_name }}" class="form-control" id="{{ rateForm.money.id_for_label }}" placeholder="{{ rateForm.money.label }}" value="{{ rateForm.instance.money|default_if_none:'' }}" required>
						</div>
						{% if rateForm.money.errors %}
							<div class="errors">
								{% for err in rateForm.money.errors %}
									<strong class="text-danger">{{ err }}</strong>
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="input-group form-group mb {% if rateForm.term.errors %} errors-group {% endif %}">
							<span class="input-group-addon">{{ rateForm.term.label_tag }}</span>
							<input type="number" name="{{ rateForm.term.html_name }}" class="form-control" placeholder="{{ rateForm.term.label }}" value="{{ rateForm.instance.term|default_if_none:'' }}" required>
						</div>
						{% if rateForm.term.errors %}
							<div class="errors">
								{% for err in rateForm.term.errors %}
									<strong class="text-danger">{{ err }}</strong>
								{% endfor %}
							</div>
						{% endif %}
						<small class="help-block my-help-block">{{ rateForm.term.help_text | safe }}</small>
					</div>
				</article>
				<article class="article summary">
					<div class="form-group">
						<div class="group-addon">
							<label for="{{ rateForm.message.id_for_label }}">
								{{ rateForm.message.label }}
							</label>
						</div>
						<textarea name="{{ rateForm.message.html_name }}" class="form-control" id="{{ rateForm.message.id_for_label }}" placeholder="{{ rateForm.message.label }}" required>{{ rateForm.message.value|default_if_none:'' }}</textarea>
						<small class="help-block">{{ rateForm.message.help_text }}</small>
					</div>
				</article>
				<article class="article">
					<div class="form-group tac">
						<button type="submit" class="btn btn-primary">Добавить</button>
					</div>
				</article>
			</form>
		{% else %}
			<div class="alert alert-danger single-project">
				<strong>Прием заявок закончен</strong>
			</div>
		{% endif %}
	{% endif %}
{% else %}
	<div class="alert alert-danger single-project">
		<strong>Авторизируйтесь что бы оставить заявку на выполненния проекта</strong>
	</div>
{% endif %}