{% load auth_extras %}
<div class="list">
	{% if user.is_authenticated %}
		{% for rate in rates %}
			<div class="rate-card">
				<div class="row">
					<div class="col-sm-2 rate-image">
						<a href="{% url 'portfolioListShow' rate.performer.user.username %}">
							{% if rate.performer.image %}
								<img src="{{ rate.performer.image.url }}" class="profile-image" alt="Изображение профиля" data-toggle="tooltip" data-placement="top" title="{{ rate.performer.user.last_name }} {{ rate.performer.user.first_name }}">
							{% else %}
								<div class="profile-image">
									<i class="fa fa-user-secret" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ rate.performer.user.last_name }} {{ rate.performer.user.first_name }}"></i>
								</div>
							{% endif %}
						</a>
					</div>
					<div class="col-sm-10">
						<div class="row toolbar">
							<div class="col-sm-4">
								<span data-toggle="tooltip" data-placement="top" title="Бюджет"><i class="fa fa-money" aria-hidden="true"></i> {{rate.money}} <i class="fa fa-rub" aria-hidden="true"></i></span>
							</div>
							<div class="col-sm-4">
								<span data-toggle="tooltip" data-placement="top" title="Срок"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{rate.term}} дней/дня</span>
							</div>
							{% ifequal user.userprofile project.customer %}
								{% if not project.performer and project.status.id < 3 %}
									<div class="col-sm-4 btn-container">
										<button class="btn btn-primary btn-select-performer" data-performer="{{ rate.performer.id}}" data-toggle="tooltip" data-placement="top" title="Выбрать пользователя исполнителем проекта" >
											<span data-toggle="modal" data-target="#WarningModal"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Выбрать</span>
										</button>
									</div>
								{% else %}
									{% ifequal project.performer rate.performer %}
										<div class="col-sm-4 btn-container">
											<span class="performer">Выбран исполнителем</span>
										</div>
									{% endifequal %}
								{% endif %}
							{% else %}
								{% ifequal project.performer rate.performer %}
									<div class="col-sm-4 btn-container">
										<span class="performer">Выбран исполнителем</span>
									</div>
								{% endifequal %}
							{% endifequal %}
						</div>
						<hr class="mhr">
						<div class="row">
							<div class="col-sm-12">
								{{rate.message}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
	{% if not rates|length == 0 %}
		<div class="alert alert-danger single-project">
			<strong>Ставки могут просматривать только авторизованные пользователи</strong>
		</div>
	{% endif %}
		<a href="{% url 'login' %}" class="btn btn-primary btn-login">Войти</a>
	{% endif %}
</div>
{% if user.is_authenticated %}
	<article class="row">
		{% include "inc/pagination.html" with list=rates %}
	</article>
{% endif %}