{% load auth_extras %}
<div class="card">
	<h4 class="header-card">Заказчик</h4>
	<div class="content-card personal">
		<a href="{% url 'profilePublic' project.customer.user.username %}">
			{% if project.customer.image %}
				<img src="{{ project.customer.image.url }}" class="profile-image" alt="Изображение профиля">
			{% else %}
				<div class="profile-image">
					<i class="fa fa-user-secret" aria-hidden="true"></i>
				</div>
			{% endif %}
		</a>
		<div>
			<a href="{% url 'profilePublic' project.customer.user.username %}">
				{{ project.customer.user.last_name }} {{ project.customer.user.first_name }}
			</a><br>
			{% if project.customer.town %}
				<span>{{ project.customer.town }}</span>
			{% endif %}
		</div>
	</div>
</div>
{% if project.performer %}
	<div class="card">
		<h4 class="header-card">Исполнитель</h4>
		<div class="content-card personal">
			<a href="{% url 'profilePublic' project.performer.user.username %}">
				{% if project.performer.image %}
					<img src="{{ project.performer.image.url }}" class="profile-image" alt="Изображение профиля">
				{% else %}
					<div class="profile-image">
						<i class="fa fa-user-secret" aria-hidden="true"></i>
					</div>
				{% endif %}
			</a>
			<div>
				<a href="{% url 'profilePublic' project.performer.user.username %}">
					{{ project.performer.user.last_name }} {{ project.performer.user.first_name }}
				</a><br>
				{% if project.performer.town %}
					<span>{{ project.performer.town }}</span>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}
<div class="card">
	<h4 class="header-card">Бюджет</h4>
	<div class="content-card"><i class="fa fa-money" aria-hidden="true"></i> {{project.money|get_price}} <i class="fa fa-rub" aria-hidden="true"></i></div>
</div>
<div class="card">
	<h4 class="header-card">Желаемый срок исполнения</h4>
	<div class="content-card"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{project.term}} дней/дня</div>
</div>
<div class="card">
	<h4 class="header-card">Город</h4>
	<div class="content-card"><i class="fa fa-flag" aria-hidden="true"></i> {{project.town}}</div>
</div>
<div class="card">
	<h4 class="header-card">Проект опубликован</h4>
	<div class="content-card"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> {{project.date_time}}</div>
</div>
<div class="card">
	<h4 class="header-card">Актуален до</h4>
	<div class="content-card"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> {{project.relevant_to}}</div>
</div>
{% if user.is_authenticated %}
	{% if user|has_group:'Исполнитель' %}
		<div class="card">
			<h4 class="header-card">Сообщить о нарушении</h4>
			<div class="content-card">
				<p><a href="" class="btn btn-warning"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Занижен бюджет</a></p>
				<p><a href="" class="btn  btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> Нарушение</a></p>
			</div>
		</div>
	{% endif %}
{% endif %}